[2018-07-21 09:20] Solido opened #1 "ItemBuilder for animated SlideAction"
So the idea would be using an itemBuilder for SlideAction that mimics the AnimatedList so we can access the Animation<double> when creating the child. This way I can also animate Opacity in my case.

[2018-07-21 09:39] letsar commented on #1
Nice one 😃. Very useful suggestion. I don't think it will be backward compatible though, if I want to keep it simple.

[2018-07-21 14:14] Solido commented on #1
If you don't want to break the current API you can use the same trick than color property on Container.

You can set color field only if decoration field is not present.

Maybe you can keep child under SlideAction but make it invalid if this part is not present

`builder : (Context c, Animation a) {}`

[2018-07-22 06:50] letsar commented on #1
What I had in mind about breaking changes, was more about custom slidable delegate. If I want to keep the API simple, I will only expose the builders, and not the widget list anymore for slidable actions.
I plan to work on this today on another branch.
Once I have something working, would you mind telling me what you think?

[2018-07-22 07:36] Solido commented on #1
Show me the code when it's done ! It's already in my project, should be straightforward to tell you how the API 'feels' and if I can reach the required effect on my app.

[2018-07-22 08:22] Solido opened #2 "Vertical"
I guess one word is enough to describe the idea ;)
This is not a requirement but better have it in mind since designers will come with it one day or another.

[2018-07-22 10:42] letsar commented on #2
For now we can slide to the left or to the right, and if I understand, this feature would be to allow the item to slide to the top or to the bottom?
If it's the case, it would interfere with the scroll, wouldn't it?

[2018-07-22 10:55] Solido commented on #2
This library is based on the concept of dismissible which mainly is found on vertical list.

You slide horizontal when the List is vertical
You may have to slide vertical when the list is horizontal aka PageView

Imagine a PageView of Images, you can slide UP to display more control items under the bottom of image. Since it's horizontal you can have more options.

[2018-07-22 11:11] Solido commented on #1
I really love the API, when you getting confortable with builder you want them anywhere.
It is transparent with the rest of the Flutter API and the effect I wanted is implemented easily.
What is great is that I can reuse the same code that what I use in AnimatedList.

[2018-07-22 12:13] #1 closed

[2018-07-22 14:42] iPieter opened #4 "Close slidable after tab on SlideAction"
In iOS, clicking on a button will also close the slidable. This makes sense, since for example deleting a record will result in the next row being displayed in the slidable otherwise.

[2018-07-22 14:52] #2 closed

[2018-07-22 15:00] letsar commented on #1
Available on version 0.2.0

[2018-07-22 15:01] letsar commented on #2
Available on version 0.2.0

[2018-07-22 15:15] letsar commented on #4
I plan to add a controller to open/close a `Slidable`. This could be a part of this.
In the meantime, I think you can avoid this pitfall by setting a different key for each `Slidable`. Then when you delete a record, the list will sync if keys instead of indexes.

[2018-07-22 15:18] letsar opened #6 "Add a SlidableController"
A `SlidableController` could open/close any `Slidable`.
This can be useful if we want to close `Slidable`s while scrolling, or if we want to close all the other `Slidable`s while opening one.

[2018-07-23 03:26] renhaoweixiao opened #7 "What should I do if I want to hide ations after clicking on the action?"

[2018-07-23 04:32] letsar commented on #7
For now you can't. I plan to create a `SlidableController` (#6) in order to allow this among other things.

[2018-07-23 07:13] #7 closed

[2018-07-23 07:14] letsar commented on #6
This is maybe not the right solution, because we'll have to maintain a list of `Slidable`s or `Key`s and this could lead to potential issues, or complexity.
To open/close a `Slidable` based on a parent widget state we could have a boolean value to indicate the initial state.
For a slide action, we could create an `of` method to get the state and add open/close methods on the state.

[2018-07-23 07:22] renhaoweixiao commented on #6
If this slide action is open, when I click on this item or other item, the slide action will be closed. When we click, we can traverse the other slide actions according to the keys.

[2018-07-23 07:32] letsar commented on #7
I think I will take time to think about how to create a `SlidableController` to avoid some pitfalls. In the meantime I will implement some feature to allow a slide action to close its nearest `Slidable`.

[2018-07-23 20:43] #4 closed

[2018-07-23 20:57] letsar commented on #6
With the 0.3.0, I don't think we need a SlidableController now.

[2018-07-23 20:57] #6 closed

[2018-07-23 20:57] letsar commented on #7
This now by default in the version 0.3.0

[2018-07-23 20:57] letsar commented on #4
Published in version 0.3.0

[2018-07-23 21:05] Solido opened #9 "Enable / Disable"
Like for form fields I need to enable/disable the slide behaviour.

[2018-07-23 21:13] letsar commented on #9
Interesting, you can do this by settng the actions to null, but it is more simpler with a parameter indeed 😄 .
You tempt me to do this now, you know 🤣

[2018-07-23 21:18] Solido commented on #9
Fluttorite aigue ! tu vas finir tout bleu ... ;)

[2018-07-24 02:17] rcagantas opened #10 "Any way to programmatically close the slider when icon is clicked?"
It's not closing when onTap is triggered.

[2018-07-24 04:46] letsar commented on #10
Can you add the source code for this please?

[2018-07-24 05:04] letsar commented on #9
Can you check https://github.com/letsar/flutter_slidable/tree/feature/9_enabled and tell me if it's what you had in mind?

[2018-07-24 06:39] jonasbark opened #11 "Lefthand child scrambled when touched outside of item"
Appeared in Version 0.3.0

[code]

Slide out look:
![image](https://user-images.githubusercontent.com/1151304/43121116-ebb0e61e-8f1c-11e8-81c5-604e264df6da.png)

When I touch outside (e.g. list scroll):
![image](https://user-images.githubusercontent.com/1151304/43121133-04958658-8f1d-11e8-8794-f32a3cc6041b.png)

[2018-07-24 11:34] #11 closed

[2018-07-24 11:37] letsar commented on #11
Fix published in 0.3.1.

[2018-07-24 16:15] rcagantas commented on #10
Seems like this is already fixed and enabled by default in 0.3.1. Thanks!.

[2018-07-24 16:15] #10 closed

[2018-07-25 17:42] Solido commented on #9
Nothing happen ... this is the requested effect ! thx

[2018-07-25 18:12] #9 closed

[2018-07-25 18:14] letsar commented on #9
Published in version 0.3.2

[2018-07-27 00:35] ghunter99 opened #14 "Animate remove row after tapping delete, similar to Dismissible"
Thanks for doing such an great job with this widget.
One of the most common iOS actions is to slide a row across and then tap on delete.
Then (after possibly prompting the user) programmatically triggering an animation that removes the row (similar to the way the Dismissible widget animates).
Any thoughts about how one might go about implementing this functionality?

[2018-07-27 04:41] letsar commented on #14
Hi @ghunter99,
Thanks for your feedback :blush:.

I've just started to work on the **slide to dismiss** feature.
Once finished, I could then add a `dismiss` method on the `SlidableState` that will trigger this animation.

Without this feature, for now, I have no idea how someone would do that without implementing what I'm working on :pensive:.

[2018-07-27 05:57] ghunter99 commented on #14
:thumbsup:
...would be great if you are able to implement a dismiss method.
I appreciate that implementing this stuff is quite nuanced, has lots of edge cases & and takes quite a bit of skill to do well

[2018-07-29 03:21] dvaldivia opened #16 "Icons are rendered strangely"
Hi, thanks for building this awesome Widget, it's really helpful.

I'm running into a small issue, when I open the options, the icon is streched in a weird way.
<img width="514" alt="screen shot 2018-07-28 at 8 19 57 pm" src="https://user-images.githubusercontent.com/18384552/43362619-c122b30c-92a3-11e8-87c5-44479f4d0d38.png">

[2018-07-29 05:31] letsar commented on #16
It looks like they are too big. Can you paste here the code that renders the `Slidable` and the slide actions?

[2018-08-02 05:41] wwangzhuang opened #17 "i want to click the body to close IconSlide, What do I need to do，thanks"

[2018-08-02 06:00] letsar commented on #14
With version 0.4.0 you should be able to do this like this:

[code]

The `slideToDismissDelegate` is a new argument in the `Slidable` constructors.

[2018-08-02 06:00] #14 closed

[2018-08-03 05:54] letsar commented on #17
Hi @wwangzhuang. I'm sorry, but I'm not sure about what you want, can you detail what you meant?

[2018-08-03 09:35] wwangzhuang commented on #17
![demo](https://user-images.githubusercontent.com/31605698/43635964-4a0b7ec6-9743-11e8-99d9-2cfe71c6a24d.jpg)

like this, i open the first , and i want to click the second or others to close the first , what should i do,
i'm sorry,my Enlish is so bad, hah

[2018-08-03 14:17] CedSW opened #19 "dismiss on button tap"
Hi is it possible to dismiss row on button tap?
I would like to display confirmation dialog first and if user hit ok, dismiss the row.
Thank you!

[2018-08-05 16:08] Cephalom opened #20 "Close when another Slidable is slided?"
Hi!
Would it be possible to close a Slidable when another Slidable is slided?
Thanks!

[2018-08-06 06:17] letsar commented on #17
Ok thanks, I see. For now, I don't think you can do this but I will work on something do allow this 😉 .

[2018-08-06 16:58] letsar commented on #19
Oh I succeeded to do what you want by getting the state before showing the `AlertDialog`.
The code below is what I put in the `tap` callback of my slide action:
[code]

[2018-08-06 18:40] CedSW commented on #19
thank you for you reply, but unfortunately I didn't manage to reproduce your solution.
Error is: NoSuchMethodError: The method 'dismiss' was called on null. I manage to come up with workaround using streams, but I still wonder where is the problem :/

here is my code

`secondaryActions: <Widget>[
        SlideAction(
          onTap: () async {
            var state = Slidable
                .of(

[2018-08-06 19:55] letsar commented on #19
I forgot to mention you should use the `Slidable.builder` constructor and `SlideActionBuilderDelegate`s, otherwise you will end up with the same context as the `Slidable`. This is why `Slidable.of(context)` is `null`.

[2018-08-08 18:26] letsar commented on #20
Published in v0.4.1

[2018-08-08 18:27] letsar commented on #17
You'll have to drag a little, a`Slidable` for automatically close the other one, but it's now available in v0.4.1

[2018-08-10 23:45] MrMagloire opened #22 "SlidableController"
Since i have added controller to my slidable, i encounter other error that i don't know where they come, i see error when i pop page [ statefulWidget ], but when i comment line of controller, all pass good.

![captureslidable](https://user-images.githubusercontent.com/9309214/43985505-5d6b63a0-9cf7-11e8-821b-e7b6d05e2c13.JPG)
![captureslidable2](https://user-images.githubusercontent.com/9309214/43

[2018-08-14 09:40] keremkayabay opened #23 "AnimationBuilder RangeError"
While sliding a Slidable, it sometimes throws the following exception:

I/flutter (13152): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (13152): The following RangeError was thrown building AnimatedBuilder(animation: AnimationController#4bf67(▶
I/flutter (13152): 0.191; paused), dirty, state: _AnimatedState#6161d):
I/flutter (13152)

[2018-08-20 12:42] MrMagloire commented on #22
import 'dart:async';

import 'package:flutter/material.dart';
import 'package:cloud_firestore/cloud_firestore.dart';
import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:gbame_app/routes/my_navigator.dart';
**import 'package:flutter_slidable/flutter_slidable.dart';**
import 'package:gbame_app/services/type.dart';
import 'package:gbame_app/tools/loading.dart';

class Ind

[2018-08-20 12:44] MrMagloire commented on #22
@letsar

import 'dart:async';

import 'package:flutter/material.dart';
import 'package:cloud_firestore/cloud_firestore.dart';
import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:gbame_app/routes/my_navigator.dart';
import 'package:flutter_slidable/flutter_slidable.dart';
import 'package:gbame_app/services/type.dart';
import 'package:gbame_app/tools/loading.dart';

clas

[2018-08-21 00:25] AlfredoZuloaga opened #24 "Whem you dissmised the application stall"
I tested with your sample file and delete every row on the table doing a full swipe
I got an alert "item will be deleted" After that the application stop responding

[code]

[2018-08-21 21:41] letsar commented on #24
Hi @AlfredoZuloaga
I will look at this

[2018-08-22 06:57] #22 closed

[2018-08-22 06:57] #24 closed

[2018-08-22 06:59] letsar commented on #22
Should be fixed in version 0.4.2

[2018-08-22 06:59] letsar commented on #24
Should be fixed in version 0.4.2

[2018-08-22 07:00] letsar commented on #23
Hi @keremkayabay,
Have you a code sample to reproduce this?

[2018-08-22 07:03] #19 closed

[2018-08-22 07:17] keremkayabay commented on #23
Hello @letsar

I've found out, when there are two actions on the left and one action on the right (secondaryActions), it would throw this exception. If the number of actions on the left and right are equal, it works fine.

Btw thanks for the cool package!

Here is a sample code:
`import 'package:flutter/material.dart';
import 'package:flutter_slidable/flutter_slidable.dart';

String _name = "Flutt

[2018-08-22 07:50] keremkayabay commented on #23
And it doesn't happen at all with SlidableScrollDelegate

[2018-08-22 09:35] letsar commented on #23
Thanks for the feedback @keremkayabay 😃.
I found why this issue was happening. Now I have to fix this :-).

[2018-08-22 10:03] #23 closed

[2018-08-22 10:06] keremkayabay commented on #23
Thank you!

[2018-08-22 13:40] parasthekoder opened #25 "Slidable freezes on tab bar only in release mode"
### Steps to Reproduce

1. Create a Tab Widget
2. Switch between tabs
3. Now do a slidable.
4. Switch between tabs.
5. Do slidable again and now it freezes.

### Exception

[code]

### flutter doctor

[code]

### Workarounds already done
1. Use NeverScrollablePhysics for tab bar.

[2018-08-23 07:17] ghunter99 commented on #14
Thanks for this. Great work! ...just read your Medium story "Slidable: A Flutter Story". I'm blown away by Flutter too!

[2018-08-23 10:29] MrMagloire commented on #22
Waiting for that, thank you for all

[2018-08-23 19:00] letsar commented on #22
It is published :-). Can you test it?

[2018-08-25 21:30] hjJunior commented on #6
I'm trying to open when user clicks on child context, for more exacty when ListTile onTap event, so I stucked because I tried all of these two methods, and of these, before I got the call to function I got null

[code]

[2018-08-26 23:30] hjJunior commented on #6
I have tried but keeps returning null :(

[code]
And the child
[code]

[2018-08-28 09:51] recepbuyukfirat opened #26 "SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length"
helllo, thank you for shared.  see the problem when i integration to preject in my project. how to solve this issues. (my english not good so sory)
this problem output:
SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length

help me please

[2018-08-28 15:37] letsar commented on #6
@hjJunior can you please, paste the minimal code to reproduce this because I tested it with a function or a another widget like you, want under a Builder, the `Slidable.of(context)` is not `null` :confused:

[2018-08-28 15:38] letsar commented on #26
Hi @recepbuyukfirat, can you paste the minimal code to reproduce this issue?

[2018-09-07 02:21] ejabu opened #29 "keepAlive Issue on Redux ListView-ListTile"
This is the error log

[code]

[2018-09-07 21:53] AlfredoZuloaga opened #30 "EXCEPTION CAUGHT BY WIDGETS LIBRARY NotificationListener<KeepAliveNotification>"
This error happens when I have a List with a lot of element around 1000 elements and scrolled of them very fast,
flutter_slidable 0.4.5
[code]

[2018-09-08 04:02] ejabu commented on #29
I made repository here https://github.com/ejabu/slidable_redux_flutter
![screenshot_2018-09-08-10-06-36-143_com example slidable redux](https://user-images.githubusercontent.com/2019630/45250089-97caa680-b356-11e8-826e-6cb930c79967.png)

[2018-09-08 05:30] letsar commented on #29
Hi @ejabu thanks for the repo, I'am going to look at this.

[2018-09-08 07:03] letsar commented on #29
This is indeed related to https://github.com/flutter/flutter/issues/11895.
If you change the Slidable by a simple TextField, you end up with the same issue.
[code]

I reduced the possibilities for this to happen with the `Slidable` widget. I will published my pseudo-fix today.

[2018-09-08 07:04] letsar commented on #30
This is related to https://github.com/flutter/flutter/issues/11895 and #29
I reduced the possibilities for this to happen with the `Slidable` widget. I will published my pseudo-fix today.

[2018-09-08 07:17] letsar commented on #29
Can you test with the 0.4.6 version I've just published?
If the `closeOnScroll` parameter is true (the default), this error should not happen.

[2018-09-08 09:23] #29 closed, assigned to letsar

[2018-09-08 09:26] ejabu commented on #29
btw is it okay for me to close this issue ? I don't know whethers it should be the issuer or the owner of the repo who is privileged to do this..

[2018-09-08 11:31] abacaj opened #31 "On tap trigger dismiss animation?"
Great widget library!

Is it possible to trigger the dismiss animation of the `Slidable` when a user taps a `SlideAction`?

Something like:
[code]

[2018-09-08 15:53] abacaj commented on #31
It would be good to also listen for tap start event, to prevent other list items from being spam dismissed.

[2018-09-08 17:06] abacaj commented on #31
Ok I figured out how to allow dismissing only 1 widget at a time. I had to modify the library to allow for callbacks that tell me when the `resizeAnimation` is complete.

[2018-09-08 17:40] letsar commented on #29
No it's good to me that you closed the issue 👍

[2018-09-08 17:40] #30 closed

[2018-09-08 17:51] letsar commented on #31
To dismiss only 1 row at a time, you can also set a `SlidableController` on Slidables. But it will also prevent two rows to be slid at the same time.

For the dismiss on tap, you can look to https://github.com/letsar/flutter_slidable/issues/19#issuecomment-410776551 😃 .

I should add this in the readme though.

[2018-09-08 22:51] abacaj commented on #31
@letsar thanks for responding - I got a error:

[code]

[2018-09-08 22:58] abacaj commented on #31
I fixed it by using `builder` but it does not do anything, no exception calling `.dismiss()` doesn't trigger the dismiss animation

[2018-09-09 05:06] letsar commented on #31
Have you a code sample to let me reproduce the issue? I've just tried again the example in the comment, and it's working in my example.

[2018-09-11 07:14] recepbuyukfirat commented on #26
Sory. i could not answer because i had another jops. write my flutter_slidable code the following:

`                        return new Slidable(
                          key: new Key(_messages[index].toString()),
                          controller: slidableController,
                          direction:Axis.horizontal,
                          delegate: _getDelegate(item.id),

[2018-09-15 18:15] abacaj opened #32 "BUG: Slidable doesn't work in list view"
![screen shot 2018-09-15 at 2 20 59 pm](https://user-images.githubusercontent.com/7272343/45589366-979c4f00-b8f2-11e8-97cf-5c7f2754f5fe.png)

Here is a trivial example:
https://gist.github.com/abacaj/dabe0948d0b070306881e69a8a11d0c5

Nothing special, just generating the items and showing a slidable widget... when scrolling down and trying to push a view to `Navigator` the widget breaks and gives t

[2018-09-15 18:59] abacaj commented on #32
I may have had an older version of the library?

Somehow I cleared my packages cache and ran packages get again and now this issue does not appear!

[2018-09-15 18:59] #32 closed

[2018-09-16 19:48] abacaj commented on #31
@letsar I am reopening this, I am unable to dismiss (nothing happens when I try to call dismiss, no error either)

[2018-09-16 21:06] letsar commented on #31
Hi @abacaj, I found how to reproduce, I will look into it.

[2018-09-16 21:15] letsar commented on #31
One workaround while I'm fixing it, would be to set `closeOnTap: false,` on the `SlideAction`.

[2018-09-16 21:50] abacaj commented on #31
thank you for looking into it!

[2018-09-17 17:08] #31 closed

[2018-09-17 17:10] letsar commented on #31
Fix published in version 0.4.7

[2018-09-17 17:15] letsar commented on #26
Hi @recepbuyukfirat, sorry but I cannot run the code you provided. It's not independent of the rest of your code.
Can you please, write a sample that I could simply copy and paste in a file and run it?

[2018-09-22 03:04] zywj opened #33 "Hide sidable when tap screen"
It seems the sidable cann't hide when I tap the screen.

[2018-09-22 06:13] letsar commented on #33
Hi @zywj, can post the minimal code to reproduce this issue please?

[2018-09-23 05:17] zywj commented on #33
thanks for  you  reply. I  just don't know how to hide  the sidebar when I    tap another area on the  screen  not only the  sidebar item area.

[2018-09-23 07:31] letsar commented on #33
I'm sorry, can you post an image or a video showing what you want? I'm not sure to understand.

[2018-09-23 07:48] zywj commented on #33
sorry. I didn't describe my  needs very clear.
I want to close the slidable when  I tap the any other areas on the screen.
let me show you  a  image.

![b39706f7-9061-40ab-b7e1-7afb81b9d0ec](https://user-images.githubusercontent.com/5554211/45925442-f774a480-bf47-11e8-8700-5ef902290e84.jpeg)

[2018-09-23 09:02] letsar commented on #33
Oh thanks, I understand 😃 .

To do this, you need to pass a `SlidableController` to all your `Slidable`s. Then you can call the `close` method on the `SlidableController.activeState` property inside the `onTap` callback of a `GestureDetector`.

I suggest you to create a Widget for this:
[code]

[2018-09-24 20:23] eriknstevenson opened #34 "Flickering when child contains FutureBuilder"
Hi,

First of all, thanks for creating this widget!

I've run into a small issue when using a `Slidable` widget that has a child containing a `FutureBuilder` widget, and I hope this an appropriate place to ask. Here is the code (slightly shortened) in question:

[code]

Now, this works fine however when the screen is redrawn (after a tap anywhere on the screen, for example), there is a slight flic

[2018-09-25 16:15] letsar commented on #34
Hi @narrative ,

Thank you for your feedback and for this really well explained issue 😃 .

I tried to reproduce this issue, and I saw the flickering, but **only** when the `Slidable` was sliding, and not when I tapped elsewhere.

This is happening when the `Slidable `is sliding because the entire child is redrawn, and therefore the `FutureBuilder`. Which calls the future and draws the `CircularPro

[2018-09-25 20:29] #34 closed, assigned to nobody

[2018-09-29 07:15] recepbuyukfirat commented on #26
I think this problem is caused by the change of APIs, so tanks for your interest

[2018-10-04 00:20] juliovedovatto opened #35 "execute callback when sliding or when finishes to slide"
Hello @letsar

My flutter app have a list of items (each one is a Slidable Object). I would like to execute a callback event when user start sliding the item.

My case: when I slide right to left (to show some secondary actions), I would like to hide a button in the screen. When user slide left to right (to hide secondary actions), I would like to show this button again.

![](https://media.giphy.c

[2018-10-04 16:10] letsar commented on #35
Hi @juliovedovatto

There is nothing for this right, but I can implement something in the controller I think.

[2018-10-04 17:40] letsar commented on #35
I can do something great with a callback that takes an animation (look at the FAB):
![slide_callback](https://user-images.githubusercontent.com/9378033/46492226-3559ae80-c80d-11e8-9a41-9984adf251d5.gif)
Do you think it will be good for you?

[2018-10-04 17:46] juliovedovatto commented on #35
@letsar that would be great

Well, I just need a callback event when the slide event init and when it ends.

Something like to fire a callback when translate starts and when it finishes. Like this js lib does https://github.com/mango/slideout#events (example)

[2018-10-05 17:09] letsar commented on #35
Hi @juliovedovatto

I don't want to add a lot of callbacks, but I added another one to be notified when the active Slidable is open or closed.

I pushed this on this branch: https://github.com/letsar/flutter_slidable/tree/feature/35_slide_callbacks can you tell me if it's ok for you?

To use this, you need to the the `onSlideIsOpenChanged `callback on the `SlidableController`. This callback can be

[2018-10-08 15:38] mike623 opened #36 "icon only IconSlideAction"
if caption is empty. it will occupied the space?

[2018-10-08 17:04] letsar commented on #36
Hi, if the caption is empty, it will look like this:
![image](https://user-images.githubusercontent.com/9378033/46623117-f2f5e180-cb2c-11e8-9f3a-61388beddecc.png)

[2018-10-09 02:07] mike623 commented on #36
Ya. it is what I saw. I wonder if center the icon when caption missed is
better idea?. But currently not a problem. I copied a set can created
another new actionButton
Thanks anyway

On Tue, Oct 9, 2018 at 1:04 AM Romain Rastel <notifications@github.com>
wrote:

[2018-10-09 06:01] letsar commented on #36
Ok, I'm closing this then.

[2018-10-09 06:01] #36 closed

[2018-10-09 20:13] #35 closed

[2018-10-09 20:16] letsar commented on #35
Published in version 0.4.8

[2018-10-29 17:36] DARdk opened #39 "Set SlidableController.activeState.open() with onTap"
Thank you for an awesome Flutter implementation!
Is it possible to open the drawer and show all the iconslider actions through a onTap event on the Slidable? See the scenario on the two images below:
![screenshot](https://user-images.githubusercontent.com/25769058/47668745-8dd06180-dba9-11e8-885d-6daad2f8a15b.png)

Currently the only example that is given is to close the drawer as seen in Issue 33

[2018-10-29 18:20] letsar commented on #39
I see. This widget wasn't created with this kind of feature in mind. I need to rewrote some parts in order to be animated by sliding or with a call to a function.
For the moment, you can call `Slidable.of(context)` inside the child of a Slidable to get its state and call open(). But you won't get any animation and you won't be able to tell whether you want to open the primary or secondary actions.

[2018-10-30 16:09] DARdk commented on #39
Thank you for the prompt answer letsar.
I did not have any luck with your suggestion (my child of  ```Slidable``` is a  ```ListTile```). The ```Slidable.of(context)``` was null in all cases.
However, I will just implement a in-app guidance, and keep this functionality as a future feature. Thank you for considering this enhancement in a future version.

[2018-10-30 17:47] letsar commented on #39
If `Slidable.of(context)` was null, it's maybe because the context is a parent of the Slidable. It can be related to
https://stackoverflow.com/questions/51304568/scaffold-of-called-with-a-context-that-does-not-contain-a-scaffold/51304732

Thank you, I will keep you posted on my advancement 🙂 .

[2018-11-02 10:25] iPatel007 opened #40 "Icons are out of range"
First of all thanks for awesome work!
I'm new for Flutter and making demo just for learning purpose.
Just one issue got in my code the left and right side icons display out of range means its override on divider. Look at below Image.

![simulator screen shot - iphone 8 plus - 2018-11-02 at 15 43 35](https://user-images.githubusercontent.com/3183449/47909937-53bbd400-deb7-11e8-9e48-5bfafc87f6fe.png

[2018-11-03 12:43] miDeb commented on #40
The Divider is part of the Slidable:
[code]

You could do something like this:
[code]

[2018-11-04 13:04] letsar commented on #40
Thanks @miDeb , this is it! The `Divider` should be a row itself.
I'm suggesting you to use the `ListView.separated` constructor to create something like this:

[code]

[2018-11-04 13:04] #40 closed

[2018-11-11 14:50] miDeb commented on #39
I've implemented a solution for this on my fork, so if you could have a look...
Note that I've also made some other changes.
Perhaps I've broken something😁.

[2018-11-16 15:11] DARdk commented on #39
Amazing! Thanks both. I added your version to my ```pubspec.yaml```, and change from ```Slidable``` to ```Slidable.builder```. Then wrapped the child of ```Slidable.builder``` inside a builder like:
[code]

[2018-11-16 15:29] letsar commented on #39
Great. I've been working on a complete refactor of the API (you can see the work in progress in the https://github.com/letsar/flutter_slidable/tree/feature/refactor branch) and I added the feature to animate on when opening. I will keep you posted on the advancement.

[2018-11-17 17:18] miDeb commented on #39
@DARdk are you calling open() without the actionType?

[2018-11-18 20:44] DARdk commented on #39
@miDeb Yes, I did not add the actionType. By adding it as: ```Slidable.of(context).open(actionType: SlideActionType.secondary)```;
It works every time! Thanks, this is perfect

[2018-11-28 18:50] letsar opened #41 "Refactoring ideas"
- For performances reasons and to be more in the Flutter spirit, transform all delegates to widgets.
- Let the animations be the entry point and not the drag action, so that we could animate programmatically the slidable widget.
- Improve the code of the Delegates by removing the `LayoutBuilder `and by using `FractionallySizedBox`.

[2018-12-22 18:39] lastnameswayne opened #43 "Any way to make the border of the slideable more round?"
Hello!

I want to use slideable on a list of cards, but since the Card Widget has a rounder border than the slidable Widget, it looks very odd. I originally wanted to make a fork that had the correct border with elevation and more "round" edges, but I can't find the lines where you define the border of the slidable. I therefore do not know what to change. I know it is a small issue, but any help i

[2019-01-17 07:22] guyzk opened #45 "Requests: Ripple on tap, Icon and text sizes"
Great work! Really useful

A few requests to make the package even better
1) Add a ripple effect (Inkwell) on action tap
2) Option to pass an Icon size
3) Option to send in a custom TextStyle

I know most of these options are available if using the customizable "SlideAction" widget but it would be nice if the IconSlideAction could have these additions.

[2019-01-24 07:09] NTMS2017 opened #46 "Activate only 1 action at a time?"
Hi, Thanks for great plugin.

In my Slidable -> secondaryActions: <Widget>[ -> I have a 3 IconSlideAction. If user slides the ListTile it shows this 3 IconSlideAction widget. If I tap same time to 2 or 3 icons its opens all of them. I have to close 1 by 1. again if accidentally press between 2 icon it opens both. How can activate 1 action at a time? Thanks

[2019-01-27 09:00] letsar commented on #41
What do you prefer between this API (actions outside actionPane):
[code]

[2019-01-27 09:01] letsar commented on #41
And this one:
[code]

[2019-02-03 17:38] ndemari opened #47 "onTap doesn't work"
Adding a callback function for IconSlideAction to onTap doesn't work no matter what I do.

[2019-02-11 01:16] ImaginationHub commented on #36
Duplicate a new set could solve the problem, could we have an option to disable caption?
I want to keep the plugin as original set, so that upcoming update won't affect my app.

[2019-02-18 02:37] ImaginationHub opened #49 "Icon only slide action without occupying space"
Hi,

Thanks very much for the great plugin!

Could we have an option to disable caption without occupying space?
If caption is empty, the vertical alignment of icons looks weird.

Below image shows the different, the red horizontal line helps to sort the problem.

![action button alignment](http://61.238.254.110/icon_slide_action.jpg)

Thanks
Imagination

[2019-02-24 13:11] davidmartos96 opened #51 "initState is being called on the Silidable child when it closes or opens"
Is this a bug? This behavior is not expected to happen. One example could be a network request inside the slidable's child, where you don't want to call this operation every time the user interacts with the slidable.

Here is a sample code.
[code]

[2019-02-25 12:38] jaumard commented on #45
Feel strange to don't have any touch feedback like ripple yes

[2019-02-25 19:45] tidharnitzan commented on #6
hi, it doesn't seem to work.
while I defined it correctly in the ctor I can still open several items and they all remain opened (I expected the other to auto close when another one is opened).
![image](https://user-images.githubusercontent.com/7069401/53364019-8ac26380-3946-11e9-9f89-04ab39189caa.png)

code:
...
final SlidableController slidableController = new SlidableController();
...
child: Sli

[2019-02-26 09:44] tidharnitzan opened #52 "SlidableController not closing other slidable items"
hi, it doesn't seem to work.
while I defined it correctly in the ctor I can still open several items and they all remain opened (I expected the other to auto close when another one is opened).
![image](https://user-images.githubusercontent.com/7069401/53364019-8ac26380-3946-11e9-9f89-04ab39189caa.png)

code:
...
final SlidableController slidableController = new SlidableController();
...
child: Sli

[2019-02-26 10:18] nodahikaru opened #53 "Changing of SlideAction' size"
It seems width of SlideAction is static. I tried to change width of SlideAction by changing child' Container width. But it doesn't work for me.
Is there any way to change width of SlideAction?

[2019-02-26 13:26] jaumard opened #54 "Slidable prevent all other swipe action"
If you use this plugin into a tabView, you'll not be able to swipe to change tab, even if you use only one side of Slidable. It should not stop propagation of swipe event if no action is define for the given orientation

[2019-02-27 02:19] EshwarSatrasala opened #55 "Does not work with ReorderableListView!"
Slidable widget doesn't seem to work alongside ReorderableListView. When I use it alongside ReorderableListView, the slide gestures (left swipe, right swipe) do not have any effect. A fix for this would be very useful for those who want the convenience of having slidable menus alongside the ability to rearrange list items.

[2019-02-27 10:28] fducha commented on #14
Hi! Why did you close the issue? The feature still isn't implemented. There is no animation when Slidable is removed from listview.

[2019-03-05 09:21] ignertic commented on #47
It seems it's triggered when the widgets build, really need solution to this

[2019-03-11 13:55] pbouttier commented on #55
You could go with [https://pub.dartlang.org/packages/flutter_slidable](url) instead of ReorderableListView. I have the same problem, and i switch to this, it work perfectly now.

[2019-03-11 14:12] pbouttier opened #57 "onTap doesnt close properly slider when calling setState in it"
Hi,

When i call setState on onTap, the slider close promptly, and not by sliding back.

`IconSlideAction(
          caption: 'Modifier',
          color: spYellow,
          icon: Icons.create,
          onTap: () {
            setState(() {
              titleController.text = session.title;
            });
            showDialog(
                context: context, child: popupUpsertSession(sessi

[2019-03-11 15:57] EshwarSatrasala commented on #55
pbouttier, Yes I am already using Flutter Slidable(letsar/flutter_slidable) and hence am posting this request here. I am having trouble with reordering a list view if I use flutter_slidable package. Do you have any sample code or a snippet which demonstrates how this package (letsar/flutter_slidable) works alongside ReordertableListView?

[2019-03-11 16:22] pbouttier commented on #55
Oh sorry i give you the wrong link !

I use flutter_list_drag_and_drop : [https://github.com/Norbert515/flutter_list_drag_and_drop](url) instead of ReorderableListView.

An working example :

`import 'package:flutter/material.dart';
import 'package:flutter_slidable/flutter_slidable.dart';
import 'package:flutter_list_drag_and_drop/drag_and_drop_list.dart';

...

List<String> items = [
    '0',

[2019-03-22 06:56] devashish-patel commented on #52
Any updates on this?
Same issue for me as well...

[2019-03-22 10:19] pushpendraKh commented on #6
@tidharnitzan Did it solve? I am also facing the same problem.

[2019-03-22 10:48] tidharnitzan commented on #6
Not AFAIK.  Still waiting for a response from developer for the code snippet above.

[2019-03-22 11:02] pushpendraKh commented on #6
It's working with this code `https://pub.dartlang.org/packages/flutter_slidable#-example-tab-`
May be we are doing something wrong.

[2019-03-22 11:31] pushpendraKh commented on #6
@tidharnitzan I got the problem.
You should not create new instance of slidableController.
You are doing this inside cell, hence ending up creating new instance of controller everytime.

Instead, create slidableController in the controller itself and pass it to the cell and use it.
It will work.

[2019-03-23 16:24] kw2019ltd commented on #54
same issue for me we need solution for it.

[2019-03-23 19:01] tidharnitzan commented on #6
@pushpendraKh  - You are right! I'm still new to Flutter and totally missed that. all working great. thanks. !

[2019-03-27 13:08] lifenautjoe commented on #55
Experiencing this issue from another angle. The widget absorbs all events on top of it, therefore something like a swipe back page gesture gets swallowed.

[2019-03-29 16:20] kostasoft opened #61 "Max width of the action"
Hello! Thank you very much for the library!
There is a question: is it possible to limit the width of the action?
With a wide screen and the parameter actionExtentRatio: 0.25, the actions are very wide.

[2019-04-01 19:17] msw333 opened #62 "Two showAllActionsThreshold: (one for opening and one for closing)"
From my point of view, opening the slideable is at first not pretty ease (if you compare it to WhatsApp / Telegram), but it gets wonderful smooth if I set `howAllActionsThreshold: 0.20`. Is there a same kind of threshold for swiping the items back in? Guess we need two thresholds then?

[2019-04-04 18:22] RocketStormNet commented on #43
Hi!

I think I found solution. Check your (ANY)Delegate class in your slidable.dart

`
class SlidableBehindDelegate extends SlidableStackDelegate {
  const SlidableBehindDelegate({
    double fastThreshold,
  }) : super(
          fastThreshold: fastThreshold,
        );

  @override
  Widget buildStackActions(BuildContext context, SlidableDelegateContext ctx) {
    return new Positioned.fill(

[2019-04-04 18:23] RocketStormNet commented on #43
Hi!

I think I found solution. Check Delegate class that you use in your slidable.dart

[code]

[2019-04-08 14:00] zainalazfar opened #63 "onTap to dismiss without Slide to dismiss"
I want to have an onTap to dismiss without SlideToDismiss because I dont want user to slide for dismiss. As for now, I only can enable the state.dismiss() if the state.dismissible is true. But state.dismissible is only true if slideToDismiss is not null. Please help to make state.dismiss() without slide to dismiss. Thanks

[2019-04-08 15:39] Shakle commented on #54
you can create an invisible Container on the left side above the slidable in stack and drag it.
Stack(
Slidable(),
Container(color: Colors.transparent, width: MediaQuery.of(context).size.width * 0.027),
)

[2019-04-11 07:30] tigrenok00 opened #64 "Fire action automatically without tap"
Hi,
I want to implement a behavior where the action\event is fired automatically after the action box is completely visible (or to a certain extent), without the user having to tap the box. After that the action box is automatically closed back. Can I achieve this using this plugin?
Thank you!

[2019-04-11 10:05] tigrenok00 commented on #64
I do understand how to recognize the fully open state via the controller, however, what can I do to programmatically close it back?

[2019-04-11 11:22] tigrenok00 commented on #64
I tried using the isOpen bool in the controller, however, it looks like it is updated when the action box only begins to open and not when it is fully open.

[2019-04-14 19:10] Gorniv commented on #64
I want this too! Without remove item.
slideToDismissDelegate can similar action, but remove item...

[2019-04-15 10:33] werytert commented on #52
soooo... Any updates?

[2019-04-15 10:37] tidharnitzan commented on #52
Worked for me very good.

[2019-04-15 10:38] werytert commented on #52
@tidharnitzan Sorry, it's was only my mistake

[2019-04-24 13:07] Xgamefactory commented on #63
that would be nice to have a function on controller for example to programmatically fire dismiss with animation (trig a slide to dismiss action).

[2019-04-28 08:18] thanhhuan1990 opened #65 "dismissal null or not set make slidable feature/refactor crashed"
I trying to make function slidable item's open() work by click on button so I changed to use branch feature/refactor, but this branch require init Slidable with dismissal, without this it crashed with below log.

E/flutter: [ERROR:flutter/shell/common/shell.cc(184)] Dart Error: Unhandled exception:
    NoSuchMethodError: The method '[]' was called on null.
    Receiver: null
    Tried calling: [](

[2019-05-05 15:53] m-sadegh-sh commented on #52
I have also same issue with SlidableController :( I'm using Redux so there is no stateful widget at all in my application. This can be the cause of this error?

[2019-05-05 16:05] m-sadegh-sh commented on #45
I agree with @guyzk about adding mentioned features

[2019-05-08 20:46] brotoo25 opened #67 "Programmatically open slider"
Would like to present the side buttons to the user for a little while and then close it, all without any touch interactions.

[2019-05-09 09:38] Siwuji opened #68 "How to change a Silidable child's textstyle when it closes or opens"
How to change a Silidable child's textstyle when it closes or opens?

[2019-05-09 09:42] Siwuji commented on #68
I want to change it's color when it open , but i always change all children's color .
How to distinguish them？

[2019-05-09 14:23] SwissCheese5 opened #69 "Add option to disable sliding"
There are circumstances when you don't want a widget to be slidable all the item, rather conditionally.

A field `enabled` that takes a boolean would be much appreciated. When true (by default), sliding is allowed to happen, otherwise no sliding can occur.

[2019-05-09 14:24] SwissCheese5 commented on #69
... It already exists... Nice.

[2019-05-09 14:24] #69 closed

[2019-05-11 18:25] PabloPL opened #71 "NoSuchMethodError after update to 0.5.0"
I'm getting following error after update to 0.5.0 version

I/flutter (21118): The following NoSuchMethodError was thrown building Slidable(dirty, dependencies:
I/flutter (21118): [_ScrollableScope], state: SlidableState#1c8cb(tickers: tracking 1 ticker)):
I/flutter (21118): The method '[]' was called on null.
I/flutter (21118): Receiver: null
I/flutter (21118): Tried calling: [](Instance of 'Slide

[2019-05-11 22:19] tegab commented on #71
can you show code on how you solved it.. thnx

[2019-05-12 12:57] PabloPL commented on #71
In slidable.dart (in flutter_slidable lib) replace
[code]
With something like this
[code]
For me it's working fine

[2019-05-13 09:00] Shakle commented on #65
Same thing after 5.0
Tried calling: [](Instance of 'SlideActionType')

`return Slidable(
      actionPane: SlidableDrawerActionPane(),
      actionExtentRatio: 0.25, secondaryActions: (Api.answers[index]['stat'] == 'unread') ? <Widget>[
        IconSlideAction(
          caption: 'Прочитано',
          color: Colors.blue,
          icon: Icons.done,
          onTap: () async {
            await Ap

[2019-05-13 14:17] jaumard commented on #71
I can confirm the problem (and the solution ^^) would be nice to have this patch and deploy @letsar :)

[2019-05-14 09:00] jeffaknine commented on #71
First time trying the package and I'm running into this issue as well. @PabloPL maybe you could send a PR to get this fixed ?

[2019-05-14 15:35] PabloPL commented on #71
PR created.

[2019-05-15 09:32] Nothing-Works commented on #71
have the same problem, hopefully, the PR can be merged ASAP.....

[2019-05-15 13:10] Raviteja11122 opened #73 "Icon Slide Action ontap not working"
Hi,

I'm using only secondary actions in that only second IconSlideAction ontap is working first one is not working

[2019-05-15 14:15] marianoarga opened #74 "Can't use only 1 action"
As title describes, if you only use 1 action, the space for 2 actions is allocated anyway, result in a strange behavior

[2019-05-16 19:16] HiroshiHorie commented on #71
Please fix ASAP!

[2019-05-16 19:28] eponcedeleon commented on #71
Until we have this PR merged, I am using a workaround, set dismissal to the following:
[code]
this is enforcing to have a dismissal property by always is canceling the dismissal actions

[2019-05-20 05:28] ampersand-dev commented on #73
me too ! help me !!

[2019-05-20 06:56] Raviteja11122 commented on #73
https://stackoverflow.com/questions/46651974/swipe-list-item-for-more-options-flutter

Use this custom class SlideMenu.

![Screenshot from 2019-05-20 12-24-29](https://user-images.githubusercontent.com/49988053/58001845-505a0400-7afa-11e9-880a-549fe61e21dc.png)

[2019-05-21 14:08] JeffersonCarvalh0 commented on #71
Thanks, @eponcedeleon. Your solution worked here, but I had to add a `key` property to the`Slidable` object in order for it to work

[2019-05-22 13:25] JeffersonCarvalh0 commented on #25
I'm experiencing a similar issue here, but in my case, it does not show any error message.The swipe between tabs simply don't work when I try to do it in the area of the slidable widgets, and it happens both in debug and release modes. Also, I'm using `NestedScrollView` instead of `TabBarView`

[2019-05-22 23:43] QuentinG3 opened #76 "Close slidable on unfocus"
Hi,

Would it be possible to a parameter closeOnUnfocus to close de slidable when tapping anywhere else on the screen?

Or is there another clean way to do this?

Thank you

[2019-05-23 07:03] qutz commented on #74
actionPane use SlidableBehindActionPane、SlidableScrollActionPane、SlidableStrechActionPane
actionPane  not use SlidableDrawerActionPane

[2019-05-23 17:59] letsar commented on #73
It's seems to not working only with SlidableDrawerActionPane. I don't know why for now

[2019-05-23 23:10] kenthinson opened #77 "Having only one action button does not resize correctly."
Using the example code as a start was able to get slidable working. However if I remove one of the buttons then the alignment goes off. See attached screen shots.

![Screenshot_20190523-180631_boxit](https://user-images.githubusercontent.com/2245494/58292141-e3f33500-7d85-11e9-935b-0d6e72160d03.png)
![Screenshot_20190523-180653_boxit](https://user-images.githubusercontent.com/2245494/58292142-e3f3

[2019-05-23 23:20] kenthinson commented on #77
Nevermind changed this code in the example and all is well.
actionPane: SlidableStrechActionPane(),

[2019-05-23 23:20] #77 closed

[2019-05-23 23:21] kenthinson commented on #74
actionPane: SlidableStrechActionPane(),

[2019-05-24 13:56] marianoarga commented on #74
Thank you all.

[2019-05-24 13:56] #74 closed

[2019-05-24 16:39] #73 closed

[2019-05-24 16:43] letsar commented on #73
Fixed in v0.5.1

[2019-05-24 16:44] #71 closed

[2019-05-24 16:47] letsar commented on #71
Fixed in 0.5.2

[2019-05-24 17:02] letsar commented on #74
Fixed in v0.5.3

[2019-05-24 21:59] rmarau opened #78 "SlidableController losing activeState when the item widget refreshes"
Hi @letsar

I'm composing a list of Slidable with ExpansionTile.
In a sequence of events where I
- open the primaryActions (say for item no1)
- tap an Action (with closeOnTap: false,)
- In the tap handler: order a Tile expand
- If I then slide another item (say no2) it slides but it won't close item 1.

This happens because expanding the tile forces the Slidable's state to pass on didUpdateWidget

[2019-05-28 18:05] enzoftware commented on #39
@DARdk thanks so much, you save me!

[2019-05-30 10:23] GoodZMJ commented on #65
Hello,Has this problem been solved?I don't want to slide delete so how do I disable that

[2019-06-01 07:13] kbrmimbyl opened #79 "AndroidX support?"
Hi, thanks for a great plugin! I'm using this in a project which we're migrating to AndroidX. Is this plugin already migrated? I couldn't find any info in the changelog on pub...

[2019-06-04 17:56] ignertic commented on #47
was this ever solved?

[2019-06-05 07:26] pradeepkarth commented on #53
change ` const double _kActionsExtentRatio = 0.25; ` in slidedable.dart to
` const double _kActionsExtentRatio = 0.1; `.

[2019-06-05 07:28] pradeepkarth commented on #61
change `const double _kActionsExtentRatio = 0.25;` in slidedable.dart to
`const double _kActionsExtentRatio = 0.1;`

[2019-06-07 23:36] diegoveloper commented on #79
this package doesn't require androidX migration because it's not a plugin package, it doesn't depends of android/ios , it's pure Dart.

[2019-06-08 05:57] #79 closed

[2019-06-10 07:49] cheasonxie commented on #52
All slidables must share the same controller , so you should define controller as class member instead of in method variable.
class YourWidgetState extends State<YourWidget> {
  SlidableController _slidableController = new SlidableController();
  ...
  @override
    Widget build(BuildContext context) {
       ...
        child: Slidable(
              key: Key(_row.animalID),
             controll

[2019-06-12 09:09] evangelme opened #80 "how can we change font family of caption?"

[2019-06-13 15:05] Baileypollard opened #81 "Widget tests using slidable not confirming that the mock method was called"
[code]

It appears that this is constantly failing even though manual tests pass fine. The problem appears the be that the mock.setInvoiceState(...) is not being recognized when the tester taps on the icon.

[2019-06-16 19:15] MatiDeve commented on #26
Hi, I had the same error. In my case, the problem wasn't the TextFormField. It was because of the key inside the Form widget. If you use a key, the general widget must be StatefulWidget, not StatelessWidget.

Wrong code

[code]

Right Code

[code]

[2019-06-17 17:19] warriorCoder opened #82 "Are there any examples of using the "more" option?"
Just wondering if there are any examples or suggestion on best practices when using the more build in option.

[2019-06-23 12:12] tigrenok00 commented on #64
@letsar Hi, could you please share some tips how it can be implemented? Thanks!

[2019-06-25 13:58] JeffersonCarvalh0 commented on #54
I'm experiencing the same issue here. The invisible container mentioned above didn't work for me.

[2019-07-01 11:57] JeffersonCarvalh0 commented on #54
Could it be a problem in flutter itself?
https://github.com/flutter/flutter/issues/24233

[2019-07-01 14:05] riccardo-lomazzi opened #83 "StreamBuilder not working inside SlideAction"
I'd love to implement a StreamBuilder as an IconSlideAction, to see if the property of an object inside a list has changed or not. But any implementation of it is not working. It checks the snapshot for data only once, and never updates.

[2019-07-01 19:56] #26 closed

[2019-07-03 03:56] warriorCoder opened #84 "How to close slider from onWillDismiss?"
I'm using the onWillDismiss to allow the users some choices and want to close the slider when this event is triggered however nothing seems to work. I've used a controller, tried to get the SlideState using Slidable.of and neither of those options work.

[2019-07-03 14:18] mamen2022 opened #85 "Slidable List with Padding/Margin"
Hi,

I have a list and want to implement the slidable row in this list. Although, my list is not a full screen width list, so when i slide a row the widget overlaps the padding that I am using on the list.

![Screenshot from 2019-07-03 15-16-11](https://user-images.githubusercontent.com/9058507/60599004-9d8dee80-9da5-11e9-910b-c96a55fdd9dd.png)

How can I limit the row (red) to the list width inst

[2019-07-04 08:23] ankitm099 opened #86 "Prevent the full swiping"
I don't want to fully swipe the Tile. I just want to show the option and delete icons. Don't need full swipe feature. How can I make that?

[2019-07-05 12:29] geekydiamond commented on #67
Or just a little peek so the user knows that there are buttons available via slide

[2019-07-10 01:01] BouncyButton commented on #62
Hello msw333,
I think you're right 😃
I opened the slidable.dart file and monkey-patched the `_handleDragEnd` function as follows, right after the dismiss state check:
[code]

It seems to work as you intended now.
Let me know if there's a better solution, I just started with Flutter a few days ago.

[2019-07-14 19:06] MahdiPishguy opened #88 "how about top to bottom or from bottom to top"
currently version of the library can support swipe right to left or left to right.
how about top to bottom or from bottom to top

[2019-07-15 05:16] anthonysette commented on #63
I would really like this too! I think tomorrow I am going to give it a shot. Not sure if you all would still like haha but I'll make a pull request and hope for the best!

[2019-07-16 00:04] anthonysette commented on #88
This is just a guess but may work out for you. I have been parsing the code trying to figure out how to dismiss on tap and see that the slidable.builder() has an attribute of direction which is `this.direction = Axis.horizontal,` by default. If you use slidable.builder() instead of slidable() you should be able to specify that `this.direction = Axis.vertical,`. Again I did not test this but may do

[2019-07-16 00:08] anthonysette commented on #88
#2 It has been done as seen here. So if what I said is wrong this should help!

[2019-07-16 03:39] anthonysette commented on #31
For anyone who ends up down this rabbit hole and still cannot get a tap to trigger a dismiss try this. Took me a while to figure it out but just change the child to your slideable item and adjust according to your theme and this should work!

`Slidable.builder (
      controller: slidableController,
      key: Key(task),
      actionPane: SlidableDrawerActionPane(),
      actionExtentRatio: 0.25,

[2019-07-16 06:23] MahdiPishguy commented on #88
@anthonysette your introduced issue is what i said ,
can we have this feature now?

thanks

[2019-07-17 08:45] bhanuka96 commented on #17
@letsar I installed 0.5.3. but when first one is slide and again second one is slide. but first one is not automatically close..

[2019-07-20 19:04] spedalilama commented on #67
Any update on this?  I'm looking to do the same thing.

[2019-08-10 17:11] vladbarash commented on #85
Hi @mamen2022 - can you share sample code? I had a similar question, and I solved it by using ListView.separated where you can define a separatorBuilder.

[2019-08-10 17:19] vladbarash commented on #67
The readme has a note about doing this:

However, I was not able to figure it out with these details. Has anyone been able to get this working?

[2019-08-11 12:44] irishka90 commented on #67
if i have a few sliders on screen (widget with slider  and listview with sliders) can you give me example.
 Call Slidable.of(context) always return  null

[2019-08-11 12:49] irishka90 commented on #80
create current child((

[2019-08-11 16:51] vladbarash commented on #67
@irishka90 I am experiencing the same issue, not able to figure it out using the documentation.

[2019-08-17 08:47] unamed000 opened #90 "Keep state when clicking on an action?"
Hi guys.
I would like to ask if there is any default param that allow this widget to keep the actions opened as default?

I would like to implement reordering feature that when the user swipe, we will have up and down arrow, when the user click on these buttons, the widget will be re-render by using setState and the row that the user clicking on it will keep the actions opened.

Thanks :)

[2019-08-20 06:49] verscph commented on #83
I have the same issue.

Example:
[code]
When you slide the ListTile, the trailing attribute turns into a CircularProgressIndicator and doesn't update to what the Streambuilder should return.

Before slide:
![Screenshot 2019-08-20 at 08 43 09](https://user-images.githubusercontent.com/34537296/63323832-ff3ef380-c326-11e9-8dd7-87fc8a264e84.png)

During slide:
![Screenshot 2019-08-20 at 08 41 19](htt

[2019-08-20 21:52] verscph commented on #83
Some extra input. The code to generate the output for the trailing attribute of the ListTile is:

[code]
It shows this output in the console when fetching the data from the stream (2 records):
[code]
So far so good.

When you slide one of the ListTile elements, the CircularProgressIndicator is shown and the console shows:
[code]

It looks like activating the slider causes the app to check the stre

[2019-08-20 23:15] DarrylDJohnson opened #91 "Insight to issue: 'open' was called on null."
I am using a controller to handle the Slidable widget's open. From what I have tested,
`close()` works well. However, open will throw the above error unless the Slideable widget is already open to one side.

In the example below, the Slidable widget opens the secondaryActions only if the primaryActions are open. Of course, the error does not occur if the secondaryActions is already open, where it

[2019-08-21 09:33] verscph commented on #83
@letsar, can you pls take a look at this?

[2019-08-28 09:20] Brazol commented on #67
I created a fork with peek option for Slidable. Just set _peekOnInit_ and _peekActionType_. Maybe it will help someone.

https://github.com/Brazol/flutter_slidable

[2019-08-31 09:47] muratangin187 opened #92 "PageView turn first page"
I used PageView as the child of Slidable. When I scroll on the second page, my current page changes to the first one.

`Slidable(
          actionExtentRatio: 0.25,
          actionPane: SlidableBehindActionPane(),
              child: PageView(
                children: <Widget>[
                  Container(
                    color: Colors.grey,
                    child: Center(

[2019-09-04 19:24] kenthinson commented on #82
When in doubt loo to native apps. Here is an example from iOS mail app.
![IMG_0015](https://user-images.githubusercontent.com/2245494/64284655-b50d6300-cf1f-11e9-8fd3-f917f62ba880.PNG)
![IMG_0016](https://user-images.githubusercontent.com/2245494/64284656-b50d6300-cf1f-11e9-8ff0-1d911d883fe3.PNG)

[2019-09-04 21:15] xerenade opened #93 "Buttons out of range in Drawer"
iOs :: Drawer :: actionPane: SlidableDrawerActionPane() -> Buttons are out of range (at the beginning of sliding):

<img width="366" alt="drawer" src="https://user-images.githubusercontent.com/13347483/64292035-ba8f9b00-cf69-11e9-83e5-b9da21de3e8f.png">

[2019-09-04 21:34] xerenade opened #94 ""Too big" actions buttons in large list tiles (like ExpansionTile)"
I use ExpansionTile as a child of Slidable. Actions buttons are "too high" for that.
Possible solution: at such high widgets (or as parameter: Center | Top) place the buttons instead of Center but move to top with padding:

**Closed:**
<img width="307" alt="notes-off" src="https://user-images.githubusercontent.com/13347483/64293144-4e626680-cf6c-11e9-9238-b7d31cd23c5a.png">

**Open:**
<img width="

[2019-09-05 00:29] kenthinson commented on #84
SlidableDismissal(
                      closeOnCanceled: true,

[2019-09-05 05:02] kenthinson commented on #84
You can't access Slidable.of from the same context you need to be inside a child context. So add a builder to push yourself one context lower in the stack.

` secondaryActions: <Widget>[
                      Builder(
                        builder: (context) {
                          return IconSlideAction(
                            caption: 'Delete',
                            color: Color

[2019-09-08 19:18] xerenade commented on #94
I solved it by using of SlideAction instead of IconSlideAction. In SlideAction i can use custom Widget (with Container, Padding...)

[2019-09-08 19:18] #94 closed

[2019-09-11 16:33] mjeffw opened #95 "Slidable.of(context) always returns null"
Just what the title says. Since Slidable.of(context) always returns null, the Slidable cannot be programmatically controlled.

[2019-09-11 17:25] mjeffw commented on #95
Some additional details that may help others:

Part of this is user error. In order for Slidable.of(context) to return something meaningful, context has to be the actual component's context, not a parent context. (Duh.) I was doing something like this:

    class MyWidget extends StatelessWidget {
      @override
      Widget build(BuildContext context) {
        return Container(
          child:

[2019-09-11 17:30] mjeffw commented on #67
For those having trouble with Slidable.of(context) returning null, refer to this issue:

https://github.com/letsar/flutter_slidable/issues/95

[2019-09-12 03:22] Addictorator opened #96 "Is there a hideAllActionsThreshold or equivalent?"
I understand there's a showAllActionsThreshold parameter in Slidable class which can be used to adjust the threshold / minimum directional motion offset needed in a swipe to display all the actions, but it seems like it doesn't affect the minimum directional motion needed to close it by swiping in the reverse direction when open. Is there a way to adjust this value, or at least make it the same as

[2019-09-16 15:00] billy124 opened #98 "Close all other secondaryActions"
Hi guys,

Is there a way to close all open `secondaryActions` when a new action is open?

Thank you,
Billy

[2019-09-18 03:03] limzhipeng-kumoten commented on #95
Slidable.of(context).open(actionType: SlideActionType.secondary);

Have you tried this method?

By default it's open the [SlideActionType.primary] action pane, but you can modify this by setting [actionType].

[2019-09-19 00:24] alexmaycon commented on #95
I have same problem. I tried both actions (SlideActionType.primary, SlideActionType.secondary) but none worked.

[2019-09-21 15:47] MirzayevFarid opened #99 "Max height of the action"
Hi! Thank you very much for the library!
Is it possible to limit the height of the action?

[2019-09-24 16:14] logemann opened #100 "IconSlideAction triggers only on second click (tap)"
Hi,

i have a weird issue. When clicking on IconSlideAction, nothing happens. When clicking again i get two triggers in onTap(). Just tried in iOS Emulator so far.

Whats that? ;-)

[2019-09-24 16:47] logemann commented on #100
Ok, i have more infos on that one. With Android Emulator (Pixel 2), everything works perfect. With iOS Emulator (iPhone Xr with iOS 13) i have the mentioned behavior.

[2019-09-24 20:30] #100 closed

[2019-10-01 14:40] julianbraasch commented on #52
@cheasonxie I have it set up this way but I am still able to open multiple Slidables.

[2019-10-03 22:20] timekone commented on #63
If anyone is still interested I've implemented this in my fork. Branch [dismiss-on-tap](https://github.com/timekone/flutter_slidable/tree/feature/dismiss-on-tap).
To make `Slidable` non-dismissible by sliding, set the `dragDismissible` parameter of the `SlidableDismissal` constructor to `false`.

[code]

[2019-10-06 14:54] letsar commented on #95
Can you post a complete example (or paste a link to one) so that I can test it from my side?

[2019-10-06 14:58] letsar commented on #99
Hi, thank you :-).
I don't understand your question, the action should have the height of the Slidable.

[2019-10-06 15:07] letsar commented on #98
You just have to add a `SlidableController` to your Slidables : https://github.com/letsar/flutter_slidable#how-to-let-keep-only-one-slidable-open

[2019-10-06 15:07] #98 closed

[2019-10-06 15:21] letsar commented on #93
Can you post a complete independent example or link me to one please?

[2019-10-06 15:23] letsar commented on #92
The child of a Slidable should not be another scrolling widget in the same direction

[2019-10-06 15:23] #92 closed

[2019-10-06 16:18] mjeffw commented on #95
My problem was fixed by upgrading the flutter_slidable dependency. The one I started with did not have the actionType parameter to the open() method.

[2019-10-06 17:01] #95 closed

[2019-10-11 20:23] AntonXu opened #102 "The item is overflow when item is less on IOS"
![屏幕快照 2019-10-12 上午3 57 18](https://user-images.githubusercontent.com/12548749/66682686-59fe2700-eca8-11e9-9a54-c56574cbe6f5.png)
![屏幕快照 2019-10-12 上午4 36 49](https://user-images.githubusercontent.com/12548749/66683733-c843e900-ecaa-11e9-91dc-8ea221fc4e62.png)

The item is overflow  when right drag exit page and item is less on IOS.

use  flutter_slidable/example/lib/simple.dart
itemCount: 100 --

[2019-10-19 22:52] AntonXu commented on #102
solved

ClipRect(
 child: Slidable( ...........))

[2019-10-19 22:52] #102 closed

[2019-10-20 14:35] jinfagang opened #103 "[feature] add some animation when slide"
Does it easy adding some bounce animation while slide like iOS does?

[2019-10-27 04:24] mana-ai opened #104 "How to close current slidable what ever button clicked?"
button do nothing but close the slidable.

[2019-11-04 05:33] joeyvanlierop opened #105 "Prevent Slidable from staying open"
Is there any way to make a Slidable widget never stay open/pinned? I would like to create gesture driven list items that run code based on the extent that the Slidable widget is open when it is released, meaning I would never need it to stay open.

[2019-11-17 14:22] jinfagang opened #106 "any plan to support bounce animation while dragging the sliding?"
Now the process looks like stiff and not very smooth.

[2019-11-19 04:45] parth22 commented on #106
@jinfagang You can use [Animator](https://pub.dev/packages/animator) package for that.
[code]

[2019-11-19 04:54] parth22 opened #107 "Is there any way to make slide action more smooth?"
Now the process looks like stiff and not very smooth.

[2019-11-19 06:19] jinfagang commented on #106
@parth22 thanks, I will have a try.

[2019-11-19 09:52] gaojuanjuan opened #108 "Conflict with tab sliding"

[2019-11-21 15:18] YavorIvanov commented on #31
Feels like this should be a default or a toggle option.

[2019-11-22 06:42] sososdk opened #109 "Can't set SlideAction background color to transparent"
dependencies: `flutter_slidable: 0.5.4`

[2019-11-24 16:03] luizjacomn opened #110 "Import don't works"
I have install the package but, the import statement don't works.
![image](https://user-images.githubusercontent.com/11355741/69497351-adc07a80-0eba-11ea-83c7-e988b4437bbe.png)

[2019-11-24 16:20] luizjacomn commented on #110
Sorry about that. Was a VS code problem. I restart it and works.

[2019-11-24 16:20] #110 closed

[2019-11-26 15:54] torbenkeller commented on #109
You can. Just use the `Colors.transparent` property in your `IconSlideAction`.

[code]

[2019-11-27 06:59] sososdk commented on #109
@torbenkeller Thank you for your reply, but I need `SlideAction` to wrap a `Column`.

[2019-12-01 20:18] comm1x commented on #76
Yes, this behavior is default in iOS. It is absolutely must have.

[2019-12-02 13:12] tigrenok00 commented on #67
Did anyone find a solution? I can close the slider via controoller.activeState?close() if it is open, however, the open() method does not work the same way for some reason

[2019-12-02 14:58] brotoo25 commented on #67
Slidable.of(context).open(
     actionType: SlideActionType.secondary,
);

Works for me.

[2019-12-06 09:27] niypoo opened #111 "Need to manage the height of IconSlideAction"
I'm need to manage height or padding of IconSlideAction , there isn't any option or way to do that for fit it with height of my small card

[2019-12-06 09:36] #111 closed

[2019-12-06 09:36] niypoo commented on #111
I noticed I can to wrap IconSlideActionwith padding or any widget

[2019-12-09 16:31] jacobokoenig commented on #109
Hi! Same issue here when using SlideAction (image attached). I want the action to have rounded borders, so the background behind it needs to be transparent.. Here's the code for the red button:

[code]

![WhatsApp Image 2019-12-09 at 4 29 15 PM](https://user-images.githubusercontent.com/17790597/70453812-4c470100-1aa1-11ea-8757-7945fafca9fd.jpeg)

[2019-12-13 08:24] ZionPi commented on #39
How to check if the `Slidable` Item is opened or closed?

[2019-12-14 19:51] emadd opened #112 "Animate slidable like dismiss does, but without calling dismiss"
I have slidables that have two actions: archive and delete.  When they choose to delete, I call dismiss and it animates away, etc.  However, I would love to be able to perform the same animation when they choose archive without calling dismiss.  Maybe I'm just missing something?

[2019-12-16 14:05] ajayane opened #113 "Feature Request: animation"
Is there a way to have a slide animation after build? Kind of feature introduction. slide-dismiss on a row exposing the actions??

[2019-12-25 10:32] remoteportal opened #114 "How prevent over-sliding?"
_Thank you VERY much for all your hard work!_

Hey, I've researched but I don't know how to prevent "over-sliding."

After the two drawer rectangles have reached a certain size (say, max=200), it should snap lock, and not allow the rectangles to grow hugely wide.

(I noticed different question/solution I thought was related and tried:

but that just caused the ratio between the two rectangles to b

[2019-12-31 04:17] anthonysette commented on #84
I know this was old but @kenthinson your answer was very helpful, Thanks!

[2020-01-03 11:09] etanxing opened #115 "A grey(#cccccc) line between slide acitons"
![Simulator Screen Shot - iPhone 8 - 2020-01-03 at 20 36 23](https://user-images.githubusercontent.com/905634/71720392-7d80da00-2e71-11ea-8e62-ead506922c6f.png)

[code]

[2020-01-03 11:14] etanxing commented on #115
I'm not sure which widget renders that line in `SlidableScrollActionPane`.

[2020-01-20 05:26] shofizone opened #117 "Slidable handle programmatically issue: primary SlideAction perform automatically when i try to close secondary SlideAction"
What i have did !

[2020-01-27 14:00] Purvik commented on #67
@brotoo25  I got that this is the way to programmatically open and close but what If I'm passing Function from its parent widget tree and assigning it's directly to onPress or onClick of action icon. How can I perform close?

[2020-01-28 07:17] florianhaar commented on #51
Is there any progress for this bug? It is really anoying that initState is called 1-3 times while the item is slided.

[2020-02-03 23:51] rhhub opened #119 "How to animate last dismissable action?"
I'm looking to treat the outer action (last action) as the dismissable. I'm trying to implement an animation that expresses this but bridging the gap between the dismissable logic and the action pan logic seems impossible. If I create a custom SlidableDrawerDismissal that animates an expansion of the outer action item to the full size of the sliddable, the animation will disappear when the user dr

[2020-02-05 22:23] volgin commented on #109
Try without a SlideAction - just use your own Container with your decoration.

I could not figure out what is the benefit of using SlideAction.

[2020-02-11 14:58] ykaito21 commented on #84
@kenthinson, is it possible to use this onWillDismiss? I'm not sure how to do it. as @warriorCoder, if user return false on onWillDismiss, I want to close slider.

[2020-02-16 02:38] kuntojirohan commented on #76
Can anyone please let me know how to deal with this issue? I have a list of slidable cards with Listview, and I want to close the (left or right) slid card when another card is slid or if I tap anywhere else on the screen.

[2020-02-18 22:59] ysoo14 commented on #83
How about wrapping up the Slidable with Streambuilder? I had a same issue, but I solved the problem wrapping the Slidable with Streambuilder. Like

[code]

[2020-02-20 08:32] calvinsug opened #120 "change secondaryActions to receive function"
Hi guys, i just need to implement slideable if user swipe to the right which show 2 menu at the left and it has works perfectly like i want!

But, what i want is, when i swipe my listView to the left, i want to push navigate to another screen? Can we do that with this ?

I have tried to implement GestureDetector with onHorizontalDragUpdate, but it didn't work if i use Slidable in my child

[2020-02-24 08:55] wj576038874 opened #121 "In the onTap method of the SlideAction button, SlidableState obtained with Slidable. Of (context) is null, so the dimiss operation cannot be performed. Here is the code example"
class MyHomePage extends StatefulWidget {
  final List<String> items = List.generate(5, (index) {
    return "item$index";
  });

  @override
  State<StatefulWidget> createState() {
    return MyHomePageState();
  }
}

class MyHomePageState extends State<MyHomePage> {
  SlidableController controller = SlidableController();
  @override
  Widget build(BuildContext context) {
    return Scaffold(

[2020-02-24 10:00] Altamill opened #122 "Slidable.of(context) return null"
Hello, how to programmatically close the currently open listile? #95's solution is not helpful to me, the code is as follows thank you.

              child: ListTile(
                leading: Flex(
                  direction: Axis.vertical,
                  children: <Widget>[
                    Expanded(
                      flex: 1,
                      child: Icon(

[2020-02-24 10:19] nicolasvahidzein commented on #122
Can you write something instead of posting random code?

[2020-02-24 10:27] Altamill commented on #122
`print(Slidable.of(context));`
return null

[2020-02-29 21:41] septiandik opened #123 "[Feature Request] Tap/Press Slidable for get Slide Action"
Example like this
![YouCut_20200301_043630155](https://user-images.githubusercontent.com/61361087/75615546-8f33e480-5b77-11ea-8f3c-16c3c0bd2059.gif)

[2020-03-17 05:47] #109 closed

[2020-03-17 11:28] jobehi commented on #122
Same goes for me, in a child widget, Slidable.of(context).open() and Slidable.of(context) don't work because Slidable.of(context) always returns null

[2020-03-17 13:52] boygiandi opened #124 "You forgot color in SlideAction"
In SlideAction class, when you call super(), please add color parameter.

[code]

[2020-03-17 22:25] Victor-Dev77 commented on #115
It's the super widget. Even if we use `SlideAction` for more customization, you can't set the background color of the parent widget... So for example the `borderRadius` of `decoration` property is useless
![screen_demo](https://user-images.githubusercontent.com/42203616/76907447-86951b00-68a6-11ea-993e-8fba0f408bb6.PNG)

[2020-03-22 04:04] #16 closed

[2020-03-26 06:28] subinsuresh commented on #76
Any updates on this issue?

[2020-03-26 07:54] subinsuresh commented on #76
Worked for me,
SlidableController slidableController = SlidableController();

Set controller property of Slidable with slidableController,
Slidable(
      actionPane: SlidableDrawerActionPane(),
      actionExtentRatio: 0.3,
      **controller: slidableController,**

Add below code onTap function of listview item.
if(slidableController.activeState != null){
     slidableController.activeState.clos

[2020-03-29 23:21] marcelser commented on #35
Actually the usage instructions don't work neither the ones you provided here nor the slightly more extensive ones in the documentation where it states
[code]
the problem is that handleSlideAnimationChanged and handleSlideIsOpenChanged need to be static methods in the SlidableController Initializer and when you make them static of course you cannot use setState() anymore which makes it impossible

[2020-03-31 09:32] lionnner opened #125 "how to know action index?"
For exg:
when slidableController onSlideIsOpenChanged call open, how can i get the opened index?
ListView.builder(
      padding: EdgeInsets.only(bottom: MediaQuery.of(context).padding.bottom),
      itemCount: items.length,
      itemBuilder: (context, index) => Slidable(
        key: UniqueKey(),
        dismissal: SlidableDismissal(
          child: SlidableDrawerDismissal(),
          onDismis

[2020-04-03 01:09] Shantaviae commented on #95
Thanks for those tips @mjeffw , they were very helpful!

With your help, I was able to implement a 'toggle' for tap gestures with the following:

`class _SlideTile extends StatelessWidget {
  const _SlideTile({@required this.controller, Key key }) : super(key: key);

  final SlidableController controller;

  @override
  Widget build(BuildContext context) {
    return InkWell(
      onTap: () {

[2020-04-04 11:21] letsar commented on #122
I don't have a lot of time so I will be quick. I extrapolate, because I don't have the full code, but I think you are in a StatefulWidget and so, the context you're referring to in showAlarmDetail does'n know anything about the Slidable you put into your build method. It's like Scaffold, you have to pass a context which is below the Slidable in the widget tree.

[2020-04-04 11:52] Altamill commented on #122
You are right. I can get the context after I repackage listview! Thank!

[2020-04-06 16:23] BizzottoClaudio commented on #124
this would be useful

[2020-04-08 15:09] ITaran7237 opened #127 "Width of the action(different sizes)"
Thank you for cool lib) I have a question, can I change the width of the action independently from each other, for example, the left action is width 100, and the right action has an icon of 20? Or is this impossible? thanks

[2020-04-08 19:07] ramoneariel opened #128 "[Feature request] Add color to caption"
Add a text widget to change color like icon widget.

[2020-04-08 19:22] #128 closed

[2020-04-10 04:08] ArthurDevv commented on #67
I tried using your fork. It didn't work either.
Could you provide an example on how to implement it or is it just a simple matter of setting the peekOnInit parameter to true?

[2020-04-10 11:21] AliYar-Khan commented on #86
Any luck doing this ? @ankitm099 i also want to achieve that but failing to do so ...

[2020-04-10 12:34] #122 closed

[2020-04-10 20:00] visit1985 opened #129 "secondary showAllActionsThreshold"
Currently it is not possible to set an equal drag distance for left and right slide if the number of actions and secondaryActions differs. It would be helpful to have different showAllActionsThreshold for that case.

Maybe the default value for a secondaryShowAllActionsThreshold could be derived from showAllActionsThreshold.

[2020-04-12 12:17] BobOKFine opened #130 "How to enable only one-directional gesture detector?"
I have a list of Slidables inside a TabBarView (Page 1). My intention is that swiping the Slidable to the right would reveal the hidden menu (primary actions) while swiping the Slidable to the left would move the whole page to the left and thus reveal Page 2 of the TabBarView (no secondary actions of the Slidable needed). How can I achieve this? It seems that now the Slidable has consumed all the

[2020-04-18 01:25] JherysVargas opened #131 "The method 'open' was called on null."
Any solution for this error?

[2020-04-20 20:41] AlaaEldeenYsr opened #132 "Item get disposed and recreated while sliding start and sliding end, The future builder inside the item get recalled"

[2020-04-23 14:41] DowsingUK commented on #98
Is not working when use Slidable.builder(
      key: Key(item.id),
      controller: slidableController
      ...

Is there any way to achieve this behaviour with Slidable.builder I need the SlideActionBuilderDelegate

[2020-04-23 23:10] theolm commented on #115
I have the same problem. Any workaround?

[2020-04-25 08:52] Riyad95 commented on #132
same issue, here did you find a solution?
the problem: when sliding the item flickers twice, once on the start of the sliding and one upon finishing it. this happens when there is a future builder inside the tree, because sliding a list item disposes then re-creates it.

[2020-04-28 13:02] RichieMcMullen opened #133 "Parameter Missing - closeOnTap"
The ```closeOnTap``` parameter is not available to use.

[2020-04-30 14:12] coldembrace commented on #125
You can just pass your model as a parameter, e.g.:
[code]

If you need only the index of an item, I suggest to add an appropriate field inside your data model. Then you'll be able to pass it inside your `onTap` callback:
`onTap: () => _deleteSingleItem(item.index),`

[2020-04-30 23:30] rgalich commented on #63
Hello,

Is it possible to create a version with this evolution?

[2020-05-01 00:01] timekone commented on #63
Hi! Excuse me, I'm afraid I don't quite understand you.
My pull request was accepted and this feature is available since version 0.5.4.

@zainalazfar Can this issue be closed?

[2020-05-01 15:14] ozburo opened #134 "RTL Support Needed"
We should implement RTL support for this widget like do w/ Dismissible.

Essentially the order of the `actions` and `secondaryActions` should be reversed.

[2020-05-06 00:19] arpitjacob commented on #35
Hi I am looking for a solution to this as well tried to follow the instructions but the code doesn't seem to work.

[2020-05-06 01:44] barees63 commented on #115
It would be very useful to be able to set the background color so we can have rounded corners, eg. in my current project we use slidable on cards which have rounded corners.

[2020-05-06 08:20] rgalich commented on #63
It's good I managed to use the modification of zainalazfar.
You can close.

[2020-05-07 11:47] icespring commented on #127
same needs

[2020-05-08 06:53] letsar commented on #127
I'm working on a full refactoring but it will take time. Thanks for this idea!

[2020-05-08 07:23] letsar opened #135 "The future of Slidable"
Hi everybody!

Some of you wondered why this package is not updated enough, why the issues keep growing, why don't I merge the PR. The answer is simple: I don't have enough time.
I'm working full time in a company and sadly I cannot take some professional time to maintain this package. Moreover I'm now the father of a great baby who needs they parent a lot, thus almost all my free time go to my ch

[2020-05-10 14:25] rbb091020 commented on #84
Any answer for onWillDismiss? Using the build context there returns null.

[2020-05-11 15:41] troyanskiy commented on #127
Hello @letsar
Do you have any idea when that can be implemented?
Also what would be cool is to support dynamic size adjustment.
Ex:
We have to secondary actions:
* Add to favorites
* Add to order
And when we are adding to order the widget will be changed to bigger.
![image](https://user-images.githubusercontent.com/1538862/81581079-86992f00-93ae-11ea-96b6-602da87248df.png)
![image](https://user-im

[2020-05-12 09:17] kenthinson commented on #84
@anthonysette You are welcome.

[2020-05-12 09:24] kenthinson commented on #135
@letsar Would you be open to having a different developer with more time take over the project?

[2020-05-12 09:33] kenthinson commented on #84
@rbb091020 @ykaito21 I see no reason you would need to access the Slidable from inside onWillDismiss. Just return. Can you explain what you are trying to accomplish that I'm missing? Then I could advise you better about an idea.

[2020-05-12 19:23] rbb091020 commented on #84
@kenthinson I want my slidable to close after it has been dismissed.  Right now, after the user has dismissed it and fills out the form that the dismissible returns, the slidable stays open. It looks really tacky.

Here's the relevant code in my app.

`class _BarState extends State<Bar> {
  final SlidableController slidableController = SlidableController();
  @override
  Widget build(BuildContext

[2020-05-12 23:57] kenthinson commented on #84
@rbb091020 If the slidable was dismissed it shouldn’t be on the screen anymore. So do you mean close automatically when the dismissal was canceled?

[2020-05-13 06:11] rbb091020 commented on #84
[Here is a quick video of the problem.](https://drive.google.com/file/d/1s7PdMpAKGLhaVcn9jCOrbRFtEylOU51Z/view?usp=sharing)

As you can see, when the user fills out the form returned from `onWillDismiss`, the slidable doesn't close automatically.

[2020-05-14 00:06] kenthinson commented on #84
@rbb091020 I see what you mean. I think this is a functionality that needs to be programmed into the base slidable library. The way it's programmed now it's assuming that a full slide to the left or right is a dismissal. AKA remove from the list and screen. We have no easy way to access the Slidable from within the dismissible contractor. @letsar has said he's too busy to work on this project acti

[2020-05-14 00:55] rbb091020 commented on #84
Ah, I see. Is there no work around that you can think of until then?

[2020-05-14 00:57] kenthinson commented on #84
@rbb091020 I played around with it for about 15-20  minutes. I couldn't come up with any ideas. Thats not to say a work around doesn't exist... but I really thing this is just something that should be added to the library.

[2020-05-14 01:11] kenthinson commented on #84
@rbb091020 Ah I figured it out. You just create a SlidableController. Make sure all your slidables use it. Then call `controller.activeState.close();`

Here is an example

[code]

[2020-05-14 01:45] rbb091020 commented on #84
Still not working... I tried to mimic your example exactly. Can you see where I am making the error?

[code]

[2020-05-14 10:42] kenthinson commented on #84
@rbb091020 Looks fine. You have tested to make sure that the then function is actually getting called with a debug print statement?

[2020-05-14 22:45] rbb091020 commented on #84
Yup. Then is reached.

[2020-05-14 22:58] kenthinson commented on #84
@rbb091020 sounds like some kind of scope problem. No error in the console?

[2020-05-15 20:11] rbb091020 commented on #84
Nope. No error in the console.

[2020-05-15 21:22] kenthinson commented on #84
@rbb091020 where are you declaring slidableController?

[2020-05-15 21:25] rbb091020 commented on #84
@kenthinson I edited my code snippet above to include the entire stateful widget class. The slidableController is declared right before the build method.

[2020-05-15 21:32] kenthinson commented on #84
@rbb091020 are you having multiple bars / slidables in a list? If so you need to lift slidableController up so that they all share one slidableController instance not a new one for each slidable.

[2020-05-15 21:49] rbb091020 commented on #84
Yes I do! So this is what I tried... I have a parent widget for my bar class called BudgetList. I tried lifting the state up by creating the controller there and a function that calls `slidableController.activeState.close()` and passing that function to my Bar widget. I get the "close" called on null error when I do that.

I also tried creating the SlidableController and passing it as a parameter

[2020-05-15 22:01] rbb091020 commented on #84
I'm getting no error now, but it's still not closing automatically.

Here is my new BarState:
[code]

And here are the relevant portions of BudgetList:
[code]

[2020-05-17 17:24] dominic-deantonio commented on #133
If you have a child which receives taps, you can call `SlidableController.activeState?.close()`.

[2020-05-17 17:36] kenthinson commented on #84
@rbb091020 Sorry you are having so much trouble. I would be willing to fix the error for you for a small fee (currently unemployed and need to eat :). if you provide me all your source code I could figure it out. If you don’t want to go that route at least you know it’s possible(and not a issue with the library ) and just something wrong in your code.

[2020-05-19 16:36] RichieMcMullen commented on #133
Thanks, will try that!

[2020-05-20 08:33] rignaneseleo commented on #99
In my case the Widget I'm sliding has a padding so it doesn't fill the whole height of a list item, while the actions have the max height.

EDIT: I moved the margin from the list item to the list itself using [ListView.separated builder ](https://api.flutter.dev/flutter/widgets/ListView/ListView.separated.html)

[2020-05-21 15:10] gibbsvjy007 opened #136 "stop sliding for particular direction"
As a user I want to only swipe left to right. Nothing should happen when I try to swip from right to left.
Is it possible with this plugin now?

[2020-05-23 18:07] orestesgaolin commented on #135
I think that "taking over" might not be the best option. However, would you consider to "delegate" some of the work to someone else? Provided you have some kind of vision for the future of the package you could create several small issues with a proper label (e.g. `help-wanted`) and basic specification. I bet there could be few people willing to implement some of them in their spare time.

For ins

[2020-05-23 20:56] taimoorsarwar opened #137 "How can i show actions by default or the card slided by default to know user that this card is swipeable?"

[2020-05-25 00:49] kenthinson commented on #135
@orestesgaolin The reason I suggest someone with time "take over" the project is in letsar own words he has no time. As an example I posted 13 days ago and no response. 7 pull requests sitting without activity ect. A new baby sucks time like crazy. Not trying to badmouth letsar I think he has all the right reasons to be busy :) But I don't think leaving the project without someone who can commit c

[2020-05-26 08:18] letsar commented on #135
Hello @kenthinson I'm not giving up this project at all. It was not what I meant. But for the moment I just wanted you to know that I don't have the proper time to deal with all the issues and pull requests. I gave my free time for this. To continue as much as want, I don't have any choice for the moment. Either I find more free time (the little I have I put it in another project for the moment) a

[2020-05-26 08:34] orestesgaolin commented on #135
@letsar did you consider applying for GitHub Sponsorship?

If you could create several sample issues that have "help-wanted" or "good-first-issue" labels then I would consider helping out with that. I had to tweak slidable a bit to my needs and maybe I could help with that. In the worst case they will just wait for somebody else.

[2020-05-26 11:35] letsar commented on #135
@orestesgaolin Yes I did apply, but for now I'm waiting for my Stripe account to be validated.

Thanks for the ideas, I would think about these sample issues.

[2020-05-30 06:23] SogoGolf opened #138 "Slidable assumes its full screen width?"
hi, am having a problem whereby Slidable is set inside a Container, that has padding. If the user goes to delete a row - then the width of the slidable goes over both sides of the Container and all the way out to the screen's full width/edges. Can this be changed via properties ? Here is a video to show what I mean:

![2020-05-30_16-18-43 (1)](https://user-images.githubusercontent.com/19580787/833

[2020-06-02 07:22] vuthasothea commented on #133
Great thank

[2020-06-04 16:35] TheinvinciblePrints opened #140 "Issue with drag n drop"
Putting Slidable inside ReorderableListView makes the items to become expanded when dragging

[2020-06-05 18:37] timosturm commented on #137
https://github.com/letsar/flutter_slidable#how-can-i-open-the-slidable-programmatically

This might be helpful.

[2020-06-06 07:30] frankyvij commented on #51
Hello - can this please be prioritised? Its common to have animations in widgets and/or network request to get data. I have tried to find a workaround, but it seems impossible with current implementation.

[2020-06-08 08:59] denis-evteev opened #142 "Unexpected behaviour of the Slidable.enabled flag"
First of all, thanks a lot for making this awesome plugin!

Recently I noticed an issue with an app I’m working on — sometimes widgets that I wrapped into slidables lost their states. First I didn’t attribute that issue to this plugin, however, a thorough investigation revealed that unfortunately the root cause of it lied in the way how `Slidable` reacts on toggling the `enabled` flag.

I noticed

[2020-06-10 09:29] robertoltrocha opened #143 "it´s not possible to hidden the IconSlideAction()"
Hi,

In some situations, I need to hide IconSlideAction () and there is no such option. I place a Container () in an attempt to hide, but there is a space white in the Widget's location.
Is it possible to implement this improvement or is there another option?
![caputre](https://user-images.githubusercontent.com/30963205/84253448-509eb600-aae6-11ea-914a-8bb9b119cd2a.jpg)

Thank you.

[2020-06-12 03:03] jawad12345A commented on #6
any luck

[2020-06-13 10:59] chitgoks opened #144 "Change default color on IconSlideAction based on theme"
Default should not be white but based on the theme (dark or light)

[2020-06-15 04:15] TheOnlyNurse commented on #136
I'm interested in this as well. My use case being that my Slidables currently prevent PageView from navigating since it registers the "action icons" drag event despite no "action icons" being supplied.

My two cents on a solution is that there could be mainAxisDirection which specifies the allowed swipe direction regardless of icons present.

[2020-06-16 17:45] Slava96 opened #145 "Slidable width break on one action"
Simulator: Iphone 8+
Flutter: 1.17.3
Dart: 2.8.4

When add one action to secondaryAction and swipe right - width between button and item
is unexpectable huge.
<img width="554" alt="Снимок экрана 2020-06-16 в 20 43 33" src="https://user-images.githubusercontent.com/32480004/84809115-49116c80-b012-11ea-9801-9a11e29db82e.png">

[2020-06-16 17:47] Slava96 commented on #145
This item is Card, and container for this items - ListView. Use SlidableStrechActionPane as actionPane.

[2020-06-19 22:59] magpiedigital opened #146 "Can't access slidable state in actions"
First off, thanks for this excellent project!

I use a dismissible action to slide to dismiss. However, I would also like to dismiss if the action is tapped. However, I cannot access the context or the state within the actions.

[code]

[2020-06-30 01:05] xuejmnet commented on #138
you can use ClipRRect to wrap item
`AppCard(
      child: ClipRRect(
        borderRadius: BorderRadius.circular(App.w(8)),
        child: Slidable(
          key: Key(widget.model.express.id.toString()),
          actionPane: SlidableDrawerActionPane(),
          actionExtentRatio: 0.25,
          child: child,
          secondaryActions: <Widget>[
            IconSlideAction(
            ),

[2020-06-30 15:43] Jan-pp opened #148 "closeOnScroll not working, please look for first primary Scrollable"
Ik have a `List` containing a few `Card`s which each contains another List (so a `List` of `List`s). These sublists have `primary` set to `false`, so the page scrolls as one static page.

`closeOnScroll` looks for the first `Scrollable`, which is why it isn't working in my case, since the sublist containing the `Slidable` doesn't technically scroll because `primary` is set to `false`.

So instead

[2020-07-02 10:13] Jan-pp commented on #148
I changed the `_addScrollingNotifierListener()` to work like I described. For me it works perfectly this way because it now looks for the first Scrollable that actually scrolls.

[code]

Would you like to try this out?

[2020-07-03 10:09] Arun1811 opened #149 "Is there any way to make slide action swipe more smooth?"

[2020-07-08 14:22] maxisme opened #150 "Failed assertion: line 4650 pos 12: '_state._element == null': is not true."
Hello,

Thank you so much for the package! I just installed but I am unfortunately getting this error:

![2020-07-08 15 21 29](https://user-images.githubusercontent.com/16902919/86930307-c79f8c80-c12e-11ea-82e0-838700aff51a.gif)

[code]

[2020-07-08 15:28] maxisme commented on #150
Ahh. It was because I wasn't initiating like:
[code]

[2020-07-08 15:28] #150 closed

[2020-07-10 20:28] cassioseffrin commented on #96
Hello!

This feature is really important. The default threshold to close is too high and I cannot find a way to change it.

@Addictorator did you found a solution?

Any help on this will be appreciated!

[2020-07-11 14:13] davidbrmn opened #151 "Flutter Slidable in Tabs"
If I put a Slidable Widget in a ListTile inside of a TabBarView with multiple Tabs and try to switch to the next right Tab by swiping to the left the Tab doesnt change, because probably the Swipe Gesture is getting catched by the Slidable, allthough I dont have ActionButtons on the right side. Just on the Left.

Is it possible for the Slidable to ignore the Swipe, so that the Swipe to the left is

[2020-07-13 09:48] YDJSZY opened #152 "onSlideIsOpenChanged not be called"

[2020-07-13 21:25] hassanrehman01398 opened #153 "!actionPane!=null"
I am facing this error while running latest version of this library and I am unable to detect what cause this error.
'package:flutter_slidable/src/widgets/slidable.dart': Failed assertion: line 466 pos 16: 'actionPane != null': is not true.

[2020-07-15 08:49] #152 closed

[2020-07-18 20:26] miDeb commented on #146
Hi! The problem here is that you are using the context that gets passed to your build method. This context does not include the Slidable context yet. You can work around this by using the [Builder](https://api.flutter.dev/flutter/widgets/Builder-class.html) widget. You can then use the context that gets passed to its builder function.

[2020-07-19 15:27] magpiedigital commented on #146
I mean it's better if the context just gets passed in onTap, which is why I made https://github.com/letsar/flutter_slidable/pull/147

[2020-07-19 15:34] miDeb commented on #146
You're probably right, I just wanted to add a possible workaround :)

[2020-07-22 02:46] zhangxu123123 commented on #53
Is there any way to change height of SlideAction?

[2020-07-23 13:43] adnankhan74444 commented on #6
I need one Help I am using PopUpMenu in Slidable i want to close the slide when ever use clicks on PopupMenu item.
Slidable(
closeOnScroll: true,
key: Key(task.taskId),
controller: slidableController,
actionPane: SlidableScrollActionPane(),
actionExtentRatio: 0.2,
actions: <Widget>[
//////////////// This is an PopUp///////////////////
PopupMenuButton<TaskStatus>(
shape: RoundedRectangleBorder(
bor

[2020-07-29 00:22] scaraux opened #154 "SliderAction with Transparent appears with white background"
I am trying to specify a transparent Color for the `SliderAction` background. I tried specifying with `color` and `decoration` properties, but it shows a white/gray background.

[code]

[2020-07-29 15:49] Darren-FanDemand commented on #35
Just to add to these voices, this still doesn't work.

[2020-07-30 11:01] magpiedigital commented on #146
Sorry realised that sounds rude - yours is a good suggestion also

[2020-07-30 11:07] miDeb commented on #146
No problem. Also, I didn't perceive your comment as rude at all. Have a nice day!

[2020-08-03 17:57] Dekhnar opened #155 "Toggle every slidable list items"
Hello,

I want to toggle every slidable items into `SlideActionType.secondary` when i'm long pressing one item of my list.
How can I do it?

Thanks.

[2020-08-05 19:46] proformance opened #156 "handleSlideIsOpenChanged doesn't work"
Hi,

First of all, this is a great widget!

Unfortunately I cannot get SlidableController to trigger when the slide is opened or closed.

I also saw another post about the same issue:
_Originally posted by @Darren-FanDemand in https://github.com/letsar/flutter_slidable/issues/35#issuecomment-665745653_

[2020-08-07 23:38] nrop19 commented on #93
@letsar
It is easy to reproduce the problem.
And this problem effect the left drawer and the right drawer.
I record a gif.
![1](https://user-images.githubusercontent.com/38882700/89696359-1ddc3700-d94a-11ea-874c-cdf8d2bca010.gif)
[code]

[2020-08-08 00:17] nrop19 commented on #93
Solved!
Use the ClipRect wrap the Drawer widget or wrap the Slidable widget.
[code]

[2020-08-11 05:53] SoundConception commented on #156
Yes, can confirm `onSlideIsOpenChanged` function is not being called for `flutter_slidable 0.5.5`.

[2020-08-11 07:25] jazzbpn opened #157 "Disable right-to-left swipe in the Slidable when using Page Viewer."
Unable to swipe left that navigates to the next page of PageViewer.

[2020-08-17 05:22] yetunnaing18121996 opened #160 "the slidable widget closes on its own when scrolling the list."
I set the closeonScroll to false but when I start scrolling the list, the slidable widget closes on its own. how do I solved that?

[2020-08-17 08:50] #160 closed

[2020-08-17 13:50] XinleZhou2018 opened #161 "Hide and show a widget on Listview item when left scroll the slidable"
Below, the codes define the item on the ListView.

slidableController.activeState == null ? false : true,  // here using slidableController.activeState to controll hide and show a widget on the item

When I pan(swipe) the item to the left, it works well, but When I drag the item to the left, it works not well.
[code]

[2020-08-17 14:07] XinleZhou2018 commented on #125
do you solve this problem

[2020-08-17 14:10] XinleZhou2018 commented on #68
Hi, do you solve this problem?

[2020-08-18 00:33] XinleZhou2018 commented on #161
@letsar

[2020-08-19 13:57] ViktorKirjanov opened #162 "Not working after swipe "right to left" if secondaryActions does not exist"
[code]

There is something wrong If i swipe from left to right when i dont have a 'secondaryActions' parameter.  If i understand tap event on the list item wants to show me secondaryActions buttons but i dont have it. Is it possible to show always 'actions' buttons ?

[2020-08-20 02:08] ViktorKirjanov commented on #162
@letsar

[2020-08-25 02:43] MarsGoatz commented on #156
Is there an another way to check if the slidable is open or not? Other than using ```onSlideIsOpenChanged```.

[2020-08-25 07:36] MarsGoatz commented on #156
```onSlideIsOpenChanged``` is being triggered if I provide ```onSlideAnimationChanged```. So for now as a workaround, I am providing a dummy ```onSlideAnimationChanged```.

[2020-08-25 07:38] MarsGoatz commented on #35
https://github.com/letsar/flutter_slidable/issues/156#issuecomment-679858293
```onSlideIsOpenChanged``` is being triggered if I provide ```onSlideAnimationChanged```. So for now as a workaround, I am providing a dummy ```onSlideAnimationChanged```.

[2020-08-25 07:39] abraiyan commented on #112
I want this solution too

[2020-08-25 07:56] proformance commented on #156
Interesting, thanks a lot for sharing the workaround!

[2020-08-26 16:49] AlexHartford commented on #151
Don't put swipe actions inside tabs. Use visible options or tap-to-show options instead.

[2020-08-26 16:50] AlexHartford commented on #157
This is not a problem with the package, this is just bad UX.  Don't put swipe actions inside scrolling containers.

[2020-08-26 19:31] letsar commented on #157
Thanks @AlexHartford. We can't do both.

[2020-08-26 19:31] #157 closed

[2020-08-26 19:37] letsar commented on #151
This is not intended at the moment. If I reach enough sponsors, I will take the time to implement that kind of behavior, even if I think you should not mix swipe actions inside swipeable tabs.

[2020-08-26 19:37] #151 closed

[2020-08-26 21:36] AlexHartford opened #163 "Possible to disable sliding but still allow programmatic control?"
I have a bit of a strange use case where I actually just want to use this to display options, but not enable sliding to access them.  An example would be issuing a voice command to display options that are currently available.

Setting the `enabled` flag to `false` cuts off interaction completely. What I'm looking for is essentially a `slideEnabled` flag. I have tried to come up with a reasonable

[2020-08-26 22:20] AlexHartford commented on #163
[This pull request](https://github.com/letsar/flutter_slidable/pull/141) solves the issue. For now, I am pulling from the fork, but this seems like something that could be merged.

[2020-08-27 00:23] AlexHartford opened #164 "Other list items hide options when another item is dismissed from option"
Hard to explain, so here's a gif.

![weird_dismiss](https://user-images.githubusercontent.com/28658524/91366688-4b820680-e7b9-11ea-80aa-5e5d8e775f8f.gif)

Getting an unanimated option closing behavior on list items that have the options open when another item has a dismiss option selected.  Any ideas on how to fix this?

I'm not doing anything special, but here's the gist:

[code]

[2020-08-27 14:15] Dekhnar commented on #155
@letsar any news?

[2020-08-27 14:46] letsar commented on #155
Tricky one. You'll have create some kind of controller paired with a `StatefulWidget` that you will put under each `Slidable`. That `StatefulWidget`'s state will have a method to toggle its `Slidable` ancestor, and you'll have to register this method to your controller in the initState (and unregister it in dispose). So that the controller will have access to all the methods and you'll just have t

[2020-08-27 15:07] Dekhnar commented on #155
I will implement this, thanks.

[2020-08-28 15:20] MobiliteDev commented on #142
Same problem here, when I change the enable flag all statefulWidget lose state and rebuild.

[2020-08-29 13:28] dave opened #165 "Animation inertia"
When I flick the slider open fast, as soon as my finger leaves the screen, the speed of the slider is reduced. Is there an easy way to add some inertia to the speed of the animation so it doesn't slow down when the swipe ends?

You can see the effect here:

https://photos.app.goo.gl/C2Y88shvDbPqZWzD8

[2020-09-01 13:59] kecson opened #166 "Can you add that you can set and only one item can slide at the same time? And turn off an item after custom opening?"
Can you add that you can set and only one item can slide at the same time? And turn off an item after custom opening?

[2020-09-02 11:28] jonmountjoy commented on #166
[The documentation](https://github.com/letsar/flutter_slidable#how-to-let-keep-only-one-slidable-open) shows how to only let one open at a time.  Is that what you mean?

[2020-09-08 15:38] gorkovv opened #167 "color: renderingMode == SlidableRenderingMode.slide - The condition does not work properly"
Here is a piece of code from your example:
[code]
A condition when **`: Colors.red,`** never performed!

[2020-09-12 04:30] jinfagang opened #169 "can it add bouncing animation?"

[2020-09-15 18:52] Musaddiq625 opened #170 "Add feature to do some function onSlide trigger and dont hold the slide condition"
Can we add a feature
when user slides - trigger some function
and dont hold the slided listTile
just show the widget on left or right and perform some action (some function)
and then slide listTile to its original position

can add this function like:
Example: holdSlide: true

[2020-09-16 05:43] SempaiEcchi commented on #131
did you by any chance solve this?

[2020-09-17 12:05] aleksandar-radivojevic commented on #170
I also need this feature! Can someone help?

[2020-09-17 18:56] Darren-FanDemand commented on #156
Thanks @MarsGoatz, this worked for me.

[2020-09-23 12:27] tippuvenky commented on #34
how to make a click icon only to remove list. Because it is taking a whole area

[2020-09-30 09:25] khamisEDX commented on #143
Having the same issue here any solutions ?

[2020-10-06 23:34] robertoltrocha commented on #143
Hi,
Unfortunately not yet.

[2020-10-12 07:25] shanazainab opened #171 "Not able to open slidable programmatically"
Unhandled Exception: NoSuchMethodError: The method 'open' was called on null.
E/flutter (10705): Receiver: null
E/flutter (10705): Tried calling: open(actionType: Instance of 'SlideActionType')

[2020-10-12 14:33] Leomhl commented on #171
I have the same issue!

The method 'open' was called on null.
Receiver: null
Tried calling: open()

I'm using Slidable.of(context).open(); inside a Gesture Detector.

 return Slidable(
      actionPane: SlidableDrawerActionPane(),
      controller: _slidableController,
      actionExtentRatio: 0.25,

      child: GestureDetector(
      onTap: () {
        Slidable.of(context).open();
      }, ...

[2020-10-12 14:38] Leomhl commented on #171
I solve the problem using this code:

    final _slidableKey = GlobalKey<SlidableState>();

    return Slidable(
      actionPane: SlidableDrawerActionPane(),
      key: _slidableKey,
      actionExtentRatio: 0.25,

      child: GestureDetector(
      onTap: () {
        _slidableKey.currentState.open(
          actionType: SlideActionType.secondary,
        );
      },

[2020-10-13 09:11] shanazainab commented on #171
Great! Thank you it worked !!

[2020-10-17 19:52] Nismonick opened #172 "Slidable widget becomes increasingly slow"
If the slidable widget gets spammed from left to right (applies to actions and secondary actions) and vice versa multiple times without letting go, the animations becomes slow or non responsive.

[2020-10-21 14:03] dineshsheoran24 commented on #51
Any progress ??

[2020-10-29 09:30] amitkot opened #173 "Action pane with rounded corners"
I have `Card`s that are wrapped with `Slidable` widgets.

# What I want
When the cards slide I want the action pane corners to be rounded as the Card:

<img width="290" alt="Screen Shot 2020-10-29 at 11 25 18" src="https://user-images.githubusercontent.com/654041/97549860-9565b380-19d9-11eb-95a1-c44b75211d80.png">

(From material design [documentation](https://material.io/design/interaction/gestur

[2020-10-31 06:08] urmilshroff opened #174 "Slidable child flowing outside of parent container"
If a `Slidable()` is wrapped inside a `Container()` with fixed width, the `child` of the `Slidable()` still flows outside of the `Container()` when swiped to display actions.

Here is my example:
[code]
![Screenshot on 2020-10-31 at 11 28 00 AM](https://user-images.githubusercontent.com/8844095/97772437-1f925100-1b6d-11eb-8111-c1ed52db78f6.gif)

Is this a bug or intended behavior? If so, how can I

[2020-11-06 06:16] sbrsubuvga commented on #174
I also faced similar issue,
but it only happens when parent widget is not scrollable.

[2020-11-06 09:37] mrcnee93 opened #176 "Slidable inside GroupedListView"
Hi,
placing a slidable widget inside a groupedlistview doesn't work for me, the code is the same, i simply changed from listview.builder to groupedlistview.

thanks

[2020-11-06 21:18] letsar commented on #174
Yeah I think it need to be clipped. You can probably do it from your side, but I should do it in Slidable.
I will work on this on december.

[2020-11-08 14:13] letsar commented on #25
You cannot use `Slidable` in a `TabView` with the same scroll direction. How can we know if you want to swipe the `Slidable` or the page?

[2020-11-08 14:13] #25 closed

[2020-11-08 14:17] letsar commented on #39
Closing as this is resolved

[2020-11-08 14:17] #39 closed

[2020-11-08 14:19] #41 closed

[2020-11-08 14:21] letsar commented on #43
For the refactoring:
Make sure action panes are clipped

[2020-11-08 14:23] letsar commented on #45
I think this is resolved now.

[2020-11-08 14:23] #45 closed

[2020-11-08 14:26] letsar commented on #46
I think this is resolved by now.

[2020-11-08 14:26] #46 closed

[2020-11-08 14:27] letsar commented on #47
Cannot reproduce, I'm closing this. If there's still an issue for you, please fill an new issue with the exact steps how to reproduce this.

[2020-11-08 14:27] #47 closed

[2020-11-08 14:29] letsar commented on #49
Hi, thanks for using this package. `SlideAction` is only intended to help people to easily create actions. If the current behavior doesn't fit your needs, you can always create your own buttons.

[2020-11-08 14:29] #49 closed

[2020-11-08 14:38] letsar commented on #51
The widget is rebuilding because some widgets are removed/added in the tree during the animation. I will see if I can  remove this behavior in my refactoring.

[2020-11-08 14:41] letsar commented on #52
@cheasonxie is right, you must provide the same SlidableController to all slidables if you want them to close when another one opens.

[2020-11-08 14:41] #52 closed

[2020-11-08 14:42] letsar commented on #53
For the moment you have to set a ratio. I'm working on a code refactoring so that you it will be more flexible.

[2020-11-08 14:44] letsar commented on #54
We should not mix two components with the same scroll direction on the same view. In my opinion this will always lead to issues.

[2020-11-08 14:44] #54 closed

[2020-11-08 14:47] letsar commented on #55
@EshwarSatrasala do you have an independent sample code I could run to see the issue?
@lifenautjoe Yes, the same will thing will happen with PageViews I think.

[2020-11-08 14:48] letsar commented on #57
I think it's resolved now.

[2020-11-08 14:48] #57 closed

[2020-11-08 14:49] letsar commented on #61
A code refactoring is in progress to make Slidable more flexible. For now, you cannot set a fixed extent.

[2020-11-08 14:54] letsar commented on #62
I have to test this, and make it and the code refactoring I'm going to do! Thanks.

[2020-11-08 14:55] #63 closed

[2020-11-08 14:58] letsar commented on #64
Hi @tigrenok00, for now, I'm not sure if it can be implemented, by I'm working on a full code refactoring and I think i can make this happen.

[2020-11-08 14:59] letsar commented on #65
I think it's resolved now. Please create a new issue if you don't think it is.

[2020-11-08 14:59] #65 closed

[2020-11-08 15:05] letsar commented on #68
I will see how to make this easier with the new refactoring.

[2020-11-08 15:09] letsar commented on #76
Follow @subinsuresh comment for now.

[2020-11-08 15:09] #76 closed

[2020-11-08 15:11] letsar commented on #78
Thank you for this issue. I will keep it in mind for my refactoring

[2020-11-08 15:12] letsar commented on #80
You can create you own child with their own style.

[2020-11-08 15:12] #80 closed

[2020-11-08 15:14] letsar commented on #81
I will create a test for this use case in my refactoring to see if I reproduce.

[2020-11-08 15:14] #82 closed

[2020-11-08 15:16] letsar commented on #83
I will see if this use case can be implemented with my in-progress refactoring.

[2020-11-08 15:18] letsar commented on #84
I'm closing this, since I think it's not an issue with Slidable as @kenthinson said.

[2020-11-08 15:18] #84 closed

[2020-11-08 15:19] letsar commented on #85
I will make sure this use case is taken into account in my refactoring.

[2020-11-08 15:19] letsar commented on #86
My in-progress refactoring should allow this.

[2020-11-08 15:22] letsar commented on #88
You can indeed slide vertically. Look at the man current example and change the screen orientation.

[2020-11-08 15:22] #88 closed

[2020-11-08 15:25] #93 closed

[2020-11-08 15:26] letsar commented on #96
Duplicate of #62

[2020-11-08 15:26] #96 closed

[2020-11-08 15:27] #99 closed

[2020-11-08 15:28] letsar commented on #104
See closeOnTap on IconSlideAction

[2020-11-08 15:28] #104 closed

[2020-11-08 15:29] letsar commented on #106
Duplicate of #103

[2020-11-08 15:29] #106 closed

[2020-11-08 15:30] letsar commented on #108
We should not mix two components on the same view with the same scroll direction.

[2020-11-08 15:30] #108 closed

[2020-11-08 15:40] AcmeField commented on #136
Excuse me, Sir. Could you please provide some simple sample code

[2020-11-08 19:39] letsar commented on #107
What do you want exactly?

[2020-11-08 19:43] letsar commented on #112
Ok I see, but the animation will end up with Archive in taking all the place. Is this what you want?

[2020-11-08 19:45] letsar commented on #113
Duplicate of #67

[2020-11-08 19:45] #113 closed

[2020-11-08 19:47] letsar commented on #115
This has been fixed in 0.5.7

[2020-11-08 19:47] #115 closed

[2020-11-08 19:50] letsar commented on #119
I'm not sure to understand what you want. Have you a sample code?
You can create your own Dismissal if you want to achieve a particular effect.

[2020-11-08 19:52] letsar commented on #120
We should'nt mix two views with the same scroll direction within the same view.

[2020-11-08 19:52] #120 closed

[2020-11-08 19:53] letsar commented on #121
You call Slidable.of(context) with a context above the Slidable. Thus it doesn't find it.

[2020-11-08 19:53] #121 closed

[2020-11-08 19:54] letsar commented on #124
Fixed in 0.5.7

[2020-11-08 19:54] #124 closed

[2020-11-08 19:55] letsar commented on #125
The solution of @coldembrace is correct.

[2020-11-08 19:55] #125 closed

[2020-11-08 19:56] letsar commented on #129
Will be possible in the refactoring

[2020-11-08 19:57] letsar commented on #130
Don't stack two views with the same scroll directions

[2020-11-08 19:57] #130 closed

[2020-11-08 19:59] letsar commented on #131
My guess is that you called Slidable.of(context) with a context which don't know anything about the Slidable.

[2020-11-08 19:59] #131 closed

[2020-11-08 19:59] letsar commented on #132
Dupe of #51

[2020-11-08 19:59] #132 closed

[2020-11-08 19:59] #133 closed

[2020-11-08 20:01] letsar commented on #134
You're right!

[2020-11-08 20:03] letsar commented on #136
We should mix two views with the same scroll direction.

[2020-11-08 20:03] #136 closed

[2020-11-08 20:04] letsar commented on #137
Dupe of #67

[2020-11-08 20:04] #137 closed

[2020-11-08 20:04] #138 closed

[2020-11-08 20:08] letsar commented on #140
Dupe of #55

[2020-11-08 20:08] #140 closed

[2020-11-08 20:10] letsar commented on #142
I will take this into account in my refactoring.

[2020-11-08 20:11] letsar commented on #143
Can you try to remove the IconSlideAction from the widget tree?

[2020-11-08 20:48] letsar commented on #146
For the moment you can use the solution provided by @miDeb . I'm going to refactor all the code and keep in mind to add context to onTap :+1:

[2020-11-08 20:48] #146 closed

[2020-11-08 20:49] letsar commented on #148
Interesting use case! I will keep it in mind for my refactoring.

[2020-11-08 20:50] letsar commented on #149
Can you add more precisions?

[2020-11-08 20:52] letsar commented on #153
You must provide an ActionPane. It's a required non-null argument.

[2020-11-08 20:52] #153 closed

[2020-11-08 20:52] letsar commented on #154
Did you try with the last version?

[2020-11-08 20:53] letsar commented on #155
Can I close this?

[2020-11-08 20:54] #156 closed

[2020-11-08 20:56] letsar commented on #161
I don't understand what you're trying to accomplish. Please, be more precise and provide a code sample I can simply run.

[2020-11-08 20:59] letsar commented on #162
What is the issue precisely? I don't understand. Can you elaborate?

[2020-11-08 21:00] letsar commented on #163
Thanks for the pull request. I will take this into account for my refactoring.

[2020-11-08 21:02] letsar commented on #164
Oh, since the list is rebuilt, your Slidable widgets are also rebuilt :/. What key did you provide to Slidable?

[2020-11-08 21:04] letsar commented on #165
I saw the video, but I don't understand the problem. Can you elaborate?

[2020-11-08 21:04] #166 closed

[2020-11-08 21:06] letsar commented on #169
You know, you don't have to create 3 issues for the same feature request.
Dupe of #103

[2020-11-08 21:06] #169 closed

[2020-11-08 21:07] letsar commented on #170
Interesting feature. Will be possible with the in-progress refactoring.

[2020-11-08 21:09] #171 closed

[2020-11-08 21:10] letsar commented on #172
Cannot reproduce. Please fille another issue with a code sample I can run to reproduce it.

[2020-11-08 21:10] #172 closed

[2020-11-08 21:10] letsar commented on #173
Ok I will look at it for while doing the refactoring.

[2020-11-08 21:12] letsar commented on #176
Maybe it's an issue with GroupedListView then.

[2020-11-08 22:54] SogoGolf commented on #138
perfect! many thanks

[2020-11-09 19:37] kenNg1 commented on #155
@Dekhnar - It's not pretty but here's a way you can trigger all of the open states:

[code]

[2020-11-10 02:24] scaraux commented on #154
I just tried `flutter_slidable: ^0.5.7` and the issue is resolved. Thank you.

[2020-11-10 02:24] #154 closed

[2020-11-10 17:52] Dekhnar commented on #155
Yes you can.

[2020-11-10 17:52] #155 closed

[2020-11-10 17:53] Dekhnar commented on #155
Thank @kenNg1 for this solution, I've already mine, but I'll confront it with your :)

[2020-11-10 18:50] kenNg1 commented on #155
@Dekhnar  what's your solution?

[2020-11-11 23:51] robertoltrocha commented on #143
Hi,
I haven't tried it and I don't know how to do it. I'll search. I don't want to remove all IconSlideAction (), just one when it doesn't meet a condition.
Example: if you are not a master user, the option to edit does not appear

[2020-11-15 10:06] freedemocracy opened #177 "How to cancel onTap on Slideable to open Slide Action"
How to cancel onTap event in Slidable。

onTap has other functions

thank you！

[2020-11-15 10:09] freedemocracy commented on #177
I don’t want to click on Slidable, just open the action panel

[2020-11-17 14:01] theklausster commented on #112
onWillDismiss: (actionType) async {
          // do stuff like archive
          return Future.value(false); // don't dismiss
        },

When I do this there's no animation applied, so the list tile flicks back to the state it was in before swiping.

Is this the same thing you see @emadd?

[2020-11-17 14:25] theklausster commented on #112
Solved it by adding a key to the Slidable

[2020-11-17 14:33] avdosev commented on #112
I am not an emadd, but I would like to see it like this

![slidable (1)](https://user-images.githubusercontent.com/39769345/99402814-3376da80-2903-11eb-8483-a13fafca19c4.gif)

[2020-11-18 05:01] heart-er opened #178 "dispose method"
Can I use SlidableController dispose method?

[2020-11-18 21:09] letsar commented on #178
There are no dispose method in SlidableController 🤔

[2020-11-19 15:05] shovelmn12 opened #179 "[BUG] when using open() animation not working"
When using `open(actionType: SlideActionType.secondary)` and afterwards trying to slide back, horizontal drag, to close the widget just jumps back to closed state instead of animating back. after that every time I try to slide to open/close it just skips the animation and jumps to open or close with no animation.

code being used to open the slidable:
[code]

slidable config:
[code]

[2020-11-23 11:17] agoubi opened #180 "How to know if i am scrolling left or right ?"
i want to know how i can change a color based on scrolling left or right, the color must be changed when the scrolling movement just started

[2020-11-23 16:53] deepbluish opened #181 "Close Slide Out Menu Threshold"
I see that there are options for setting how far a user has to drag in order to _open_ the slide out menu, yet there are no options for setting that same threshold for _closing_ the menu.  On a tablet, it's actually uncomfortable how far I have to slide to close the menu.  This seems like this should have been an included feature.  Is there a solution to this?

Thank you for your creativity.

[2020-11-23 18:53] letsar commented on #181
This is something possible in the refactored code only. You can look at the work-in-progress branch (https://github.com/letsar/flutter_slidable/tree/feature/revival) if you want to test it.

With the new code you can set it this way:
[code]

[2020-11-23 20:02] deepbluish commented on #181
Thank you very much for your quick response.  I will try this today!

[2020-11-23 20:06] letsar commented on #181
:wink:, keep in mind that the refactored code is not yet documented nor tested. I hope to finish this in december.
You can totally play with it and give your feedback but I advise you not to put it in production until I officially publish it.

[2020-11-24 15:06] Paolo9711 opened #182 "How to let keep only one Slidable open?"
In the documentation it is explained that it is needed "to set the controller parameter of the Slidable constructors to a SlidableController instance" to do this, but I tried it and it doesn't work.

[2020-11-25 03:27] gamble2020 opened #183 "open() & close() only work once slidable has been swiped open close"
**Set up**

Flutter 1.22.4 • channel stable •
https://github.com/flutter/flutter.git
Framework • revision 1aafb3a8b9 (11 days ago) • 2020-11-13
09:59:28 -0800
Engine • revision 2c956a31c0
Tools • Dart 2.10.4

Using the latest version of flutter_slidable 0.5.7 I can't programatically open and close the slide using the GestureDetector onTap until a list tile has been swiped open & swiped closed.

I'

[2020-11-25 04:14] gamble2020 commented on #183
Got it to work by using:

  onTap: () {
        Slidable.of(context).renderingMode == SlidableRenderingMode.none ? Slidable.of(context).open(actionType: SlideActionType.secondary) : Slidable.of(context).close();
      },

[2020-11-25 04:14] #183 closed

[2020-11-25 09:23] agoubi commented on #180
actually this `actionPane: SlidableBehindActionPane() ` solved my problem

[2020-11-25 09:23] #180 closed

[2020-11-25 20:36] husitawi commented on #51
For info,  this behavior also happens with ValueListenableBuilder in the child's subtree. ( Many thanks for the package! )

[2020-11-26 15:44] alexandrelc16 commented on #182
@Paolo9711 I had the same problem and resolve using stateful widget.

[2020-11-26 15:51] Paolo9711 commented on #182
@alexandrelc16 I have already tried with stateful widget, but it still doesn't work. Can you please provide a sample code?

[2020-11-26 16:10] alexandrelc16 commented on #182
@Paolo9711 sample code with version ^0.5.7:

`class TestList extends StatefulWidget {
  @override
  State<StatefulWidget> createState() => _TestListState();
}

class _TestListState extends State<TestList> {
  final SlidableController _slidableController = SlidableController();

  @override
  Widget build(BuildContext context) {
    return ListView.builder(
      itemCount: 20,
      itemBuilder: (

[2020-11-26 16:41] Paolo9711 commented on #182
@alexandrelc16 Thank you for the fast response. Unfortunately I applied exactly the same criteria to my project but it still doesn't work.

[2020-11-26 17:11] #182 closed

[2020-11-30 07:32] DungNgo96 commented on #155
@Dekhnar Can you show me your solution?

@kenNg1 I tried your code. It works and triggers all of the open states. However, it prevents the slidable items to open from normal slide? Do you know how to solve it?

[2020-11-30 09:14] lironiz commented on #112
Where and how do you call 'dismiss'? I'm trying to achieve an animated dismissal, but only after the user tapped on 'delete'. did you manage to do that?

[2020-11-30 09:57] lironiz opened #184 "Animated delete"
I would like my slidable item to be deleted when the user clicks on the IconSlideAction, and I want it to be animated, so that the slide action would continue and the original direction. how do I achieve this?

[2020-12-02 23:05] marcoberetta96 opened #185 "Slidable within TabBar"
Hi!
I have a TabBar with two Tabs.
In the right Tab I have a ListView and I need each element to be a Slidable with a secondaryAction.
When I set the secondaryActions, I cannot anymore swipe back to the first tab.
I really need to be able to perform this and I think it's possible since the swipes are in opposite directions.
How can I do this?
Thanks!

[2020-12-05 22:00] letsar opened #186 "Refactoring feedback"
Hey flutter_slidable users 👋  !

Since one month I've been working on a full rewrite of this package in order to decouple a lot of things and also to make it more flexible.

You will find below a list of some features I've added along this refactoring:
- Have different threshold for start and end action panes.
- Have different **motions** (the widget which controls how the action pane animates whe

[2020-12-10 11:50] saleh-aleid opened #188 "Position Issue"
<img width="1123" alt="Screen Shot 2020-12-10 at 2 48 05 PM" src="https://user-images.githubusercontent.com/11992777/101768701-f44d3b00-3af6-11eb-8146-d6382f36312b.png">

[2020-12-10 19:57] denisbabineau commented on #173
I was able to accomplish this by wrapping the Action in an OverflowBox w/LayoutBuilder:

[code]
hope this helps!

[2020-12-11 15:16] denisbabineau commented on #51
I've found that if you set a GlobalKey on your Slidable's child it fixes (works around?) this issue. My understanding is that it is caused by the child moving within the widget tree, setting a key allows it to reuse its state under a different parent as explained here:

https://www.youtube.com/watch?v=kn0EOS-ZiIc&feature=youtu.be&t=510

[2020-12-11 15:27] letsar commented on #51
I think this will be fixed in the upcoming version. Can someone test it with the revival branch?

[2020-12-13 04:52] saleh-aleid commented on #188
@letsar dear

this problem come if i use tablet

[2020-12-13 06:13] letsar commented on #188
Hi @saleh-aleid , the upcoming version will fix that but I need to gather enough feedback before publishing it.
You can test it on the feature/revival branch.

[2020-12-16 12:07] LiangLuDev commented on #136
![image](https://user-images.githubusercontent.com/16227011/102346584-0be66100-3fda-11eb-97e6-678262db6e40.png)
Desired effect：Sliding left pageview responds, sliding right Slidable responds

[2020-12-21 11:00] danhardman commented on #165
@letsar When swiping, if you do a "quick" swipe and release, the animation kicks in and slowly completes the last part of the swipe.

E.g. [0 ---20------- 100]

You do a fast swipe on that aiming from 100% to 0% , this library stops the swipe at 20% and performs a slow, smooth animation to complete the last bit. This makes it look "jerky"

Apologies I haven't jumped in to take a look at what's goi

[2020-12-21 11:02] dave commented on #165
Yes that's exactly the experience I had...

[2021-01-03 22:44] normancarcamo commented on #149
Same thing here, it would be nice to have another curve there, for example, `fastThreshold` is nice to show the options, super easy, but when I try to hide the options I have to swipe completely the options to hide 'em.

[2021-01-03 22:47] normancarcamo commented on #181
@letsar how is the progress of this? I agree with the OP. 😅

[2021-01-03 23:18] normancarcamo commented on #181
@letsar do you have an example of how to use the branch? I get a weird error pointing to the branch on my puspec,yaml file.

Would you mind to tell me what I'm doing wrong here?
[code]

and this is the output:
[code]

[2021-01-06 19:23] Jure-BB commented on #64
@letsar It would be great, if you could expose necessary events while refactoring, so this could be implemented.

The interaction goes like this:
- When user starts sliding, slide action is in inactive state. Background color of the slide action is set to inactive color (eg. gray).
- When user passes certain extent threshold, slide action changes to activated state. Background color changes to act

[2021-01-07 09:09] reidterror commented on #68
Any updates on this?

[2021-01-07 10:25] reidterror commented on #76
My page wont be full of times most of the time, any updates on this one?

[2021-01-09 20:25] mjablecnik commented on #184
For this purpose you can try ImplicitlyAnimatedList from https://pub.dev/packages/implicitly_animated_reorderable_list

[2021-01-11 11:24] normancarcamo commented on #81
😕  same thing here. Are you for some reason avoiding the tap event on the actions? I can't test it, only manual testing.

[2021-01-20 18:11] cassioseffrin commented on #62
@letsar,  any news on this? May I can fix it if you are accepting PRs?

[2021-01-20 18:46] letsar commented on #62
Yes, can you test the revival branch to see if what you want has been implemented in the refactoring?

[2021-02-01 10:44] clement89 commented on #174
I am also getting the same issue.

[2021-02-01 10:56] clement89 commented on #174
@letsar Can you provide a sample code to clip the widget.?

[2021-02-07 00:31] velcz opened #189 "Slidable widget exponentially lags entire application until it crashes"
I'm very confused what exactly is causing this issue as I haven't read about anyone else encountering it, but I DID figure out where the issue was coming from and figured out a temporary solution.

As the title says, after installing this plugin and trying to implement it, attempting to drag the slidable would work as intended for a few seconds, until exponentially slowing down, lagging the entire

[2021-02-12 10:28] sbrsubuvga commented on #174
Can you provide a sample code to clip the widget.?

[2021-02-12 17:38] IronforgeAsh commented on #174
Any update on this?

I have this problem, and im not sure how to fix it.

[2021-02-13 09:00] clement89 commented on #174
@IronforgeAsh I dix this issue by adding Slidable inside ClipRect widget.

[2021-02-17 15:02] mattbreeland commented on #174
Thanks very much @clement89 ! I had problems where sliding out cards within a PageView, then switching PageViews, would show a card from the previous page on the next one. This fixes it up nicely.

[2021-02-17 17:02] sbrsubuvga commented on #174
[code]
 Fixed this issue by adding Slidable inside ClipRect widget.

[2021-02-22 10:08] danhardman commented on #165
Hi @letsar Does this explain the issue well enough? Is this something that's likely to be looked at or would you be happy to accept a PR? It'd be good to get an idea of where you think the issue lies if you cannot work on it yourself :)

[2021-02-25 09:30] 594904020 commented on #127
Same needs

[2021-02-26 16:13] jkevingutierrez commented on #185
Same thing with a BottomNavigationBar.

It would be great that if I only define secondaryActions and the action is not visible, the right drag of the BottomNavigationBar or the TabBar or any Gesture defined by the parent should still work.

Or if only define a PrimaryAction and the widget of the actions is not visible, the left drag should still work for parent elements.

[2021-03-01 04:25] pratikbaid3 opened #190 "Ability to change the styling and text alignment for the caption"
Currently we can only add a String for the caption, It would be better if there was a option to add a Text widget instead so that we can apply styling to it

[2021-03-01 07:17] #190 closed

[2021-03-01 07:21] pratikbaid3 commented on #185
If we could have an option to disable swipe in one particular direction, I guess that would solve the roblem

[2021-03-05 14:41] hasansahinnn opened #191 "Solved -> Programmatically open slider || Slidable.of(context) return null || open() null"
![image](https://user-images.githubusercontent.com/44510615/110129919-894f8f80-7dd9-11eb-8f09-d0c97c5ce67f.png)

The only thing we need to do is to get the widget we use in child onto the context. For this, you can get your code in the child there as a stateless widget and use features such as Slidable.of (context) without any problem.

![image](https://user-images.githubusercontent.com/44510615/1

[2021-03-05 14:43] hasansahinnn commented on #123
https://github.com/letsar/flutter_slidable/issues/191

[2021-03-05 14:45] #191 closed

[2021-03-10 07:14] chuongdevJC commented on #127
same needs

[2021-03-11 20:15] Ascenio opened #192 "Add the official youtube video from Flutter's team to the README"
The [video](www.youtube.com/watch?v=QFcFEpFmNJ8) has been recently published and would be nice to have it as a showcase in the docs.

[2021-03-11 23:41] slavap opened #193 "Is it possible to always show actions (without sliding) on a big resolutions?"
Something like breakpoint after which actions are shown without need to slide.

[2021-03-12 14:25] pavel-birdy opened #194 "Request for rounded corner when slide."
Here is an example of the google Gmail app (android) if you try to slide the tile corner will become rounded. I think also have some shadow.

![photo_2021-03-12 19 49 49](https://user-images.githubusercontent.com/53362329/110952576-68a0b000-836c-11eb-8ff1-102b1571a7b9.jpeg)

Here another example of Telegram android app which also has rounded corners when slides

![photo_2021-03-12 19 49 45](https:

[2021-03-14 22:26] wujek-srujek opened #195 "LateInitializationError with Slidable.closeOnScroll set to false"
When I create my `Slidable`s with `closeOnScroll: false`, I get this exception:
[code]
I'm using version `0.6.0-nullsafety.0`. The `SlidableItemTile` in the stack trace is my widget which internally constructs a `Slidable` at the top level, i.e. the `build` method is;
[code]
I'm not using any delegate nor any controller, just a plain `Slidable` with `closeOnScroll`.

Judging by the line `LateIniti

[2021-03-15 09:41] pushpendraKh opened #196 "Stable release for Null safety"
Any ETA on stable version bump for null safety?

[2021-03-15 11:30] MishalPatel commented on #185
Hello
I have a using two tab bar but using slidable pageview scroll is not working.
Please provide me a proper solution.

[2021-03-17 12:41] Mohammadwabeel commented on #6
Add this onTap() and call a separated widget in child property of Slidable and don't write child inside Slidable wid.

onTap: () {
        Slidable.of(context).open();
},
//===================== Slidable Widget
Slidable(
      controller: controller,
      actionExtentRatio: 0.35,
      actionPane: SlidableDrawerActionPane(),
      actions: [
// Some Widget
      ],
      secondaryActions: [
// So

[2021-03-18 01:20] NTMS2017 opened #197 "IconSlideAction caption TextStyle?"
Hi,

I need to change IconSlideAction caption TextStyle, how do I do that?

The caption text size is different in iPhone SE 1. edition, iPhone 11 and iPad mini 4.

Thanks

[2021-03-19 09:01] selvas1998 commented on #194
The problem is card's deafult margin is 4.0, so you have to reduce the size to make compatible to slidable widget.
**Solution:**
You can achieve by setting Card margin right as 0.0.
Slidable(
child: Card(
 margin: EdgeInsets.only(right: 0.0)
child: ......
))

[2021-03-19 21:59] NewSystem02 commented on #188
@saleh-aleid Sometimes happen to me too only on tablet

[2021-03-23 21:11] saleh-aleid commented on #188
@letsar feature/revival branch is is working fine but not support null safety.

[2021-03-23 21:27] Herrera93 opened #199 "Keep slide opened after rebuilding"
I have a sliver list that gets rebuild after receiving an event from a stream, is there a way I can keep the slide opened after rebuild the list ?

[2021-03-24 07:16] letsar commented on #188
Yes I need to work on it

[2021-04-01 17:35] jeremiahlukus opened #200 "IconSlideAction onTap delete"
I want to delete an item from the list onTap

[code]

The item gets removed from the list but doesnt get updaated in the UI.

[code]
  Slidable as the key and the slide actions works, this key doesnt seem like its being passed to the IconSlideAction

[2021-04-01 19:08] #200 closed

[2021-04-05 12:58] saleh-aleid commented on #188
@letsar which time you will release it

[2021-04-05 18:13] Heheovereggs commented on #173
Hello this works for me too, but my demand is opposite to OP's, which is set the actions card and my card has same borderRadius, like email app in iPadOS:
<img width="375" alt="image" src="https://user-images.githubusercontent.com/63461260/113608470-9ea61c80-9618-11eb-8877-c2cda8d97102.png">
Is it possible to do this with your method?
Thank you

[2021-04-05 19:12] Heheovereggs opened #201 "CupertinoTabBar compatibility"
Hello

First of all, this package is amazing, it does a great job of its own functionality in my device. However, it also brings a series issue after implementation.

My scaffold is Cupertino instead of material, when I implement slidable in my CupertinoScrollbar (see structure photo below), the CupertinoTabBar no longer works (I couldn't switch between different pages). I then observe the index g

[2021-04-06 23:40] alvincast commented on #199
did u figure out how to solve it?

[2021-04-07 00:02] Herrera93 commented on #199
@alvincast no, still waiting for a solution

[2021-04-07 17:54] joj3000 opened #202 "Autodispose of (secondary) action widgets when tapped, preventing from using setState() on the generated context"
Hi, really great package, kudos !!

There seems to be an autodispose of the (secondary) action widget when tapping on them. This works for the SlideAction, IconSlideAction and for any of my custom widgets.

It appears that, if a context is generated from those actions and setState() is called from there, the following message is given :

[code]

(Typically what is do is call showDialog on those ac

[2021-04-07 20:39] joj3000 commented on #202
Wow ... i just had to restart my VsCode ... 3 hours on this. Hope this will help.

[2021-04-07 20:39] #202 closed

[2021-04-08 08:34] daixianceng opened #203 "Please supports dark theme"
Please supports dark theme

[2021-04-09 04:15] gabrielginter commented on #196
+1

[2021-04-10 21:50] danielmsd1 opened #204 "Delegate must not be null but is not defined"
I have a little bit of a challenge as I am getting an error while using the delegate functionality. It has been indicated in the documentation as a non null value but it has not  been defined in the code. I am using the flutter_slidable version ^0.5.7.

[2021-04-10 23:30] danielmsd1 commented on #204
I don't think it has a severe impact, my code is working fine after adding the actionPane.

[2021-04-10 23:30] #204 closed

[2021-04-11 11:52] ianvillamia commented on #174
Thanks ! this works

[2021-04-11 19:24] letsar commented on #196
The v0.6.0 is out 🎉

[2021-04-11 19:24] #196 closed

[2021-04-11 22:17] armandojimenez commented on #39
How can I check if the slideable is already open to close it?

[2021-04-12 10:33] mrdc opened #205 "Extra space is occupied when null is used in Actions and secondaryActions"
Hello,

I have the following issue: when using ternary with `null` or `Container()` action, secondaryActions still occupy space for that widget.

[code]
When I slide I still see 2 items when there should be only one.

[code]

[2021-04-16 14:52] mrdc commented on #205
[code]
should be used instead of ternary.

[2021-04-16 14:52] #205 closed

[2021-04-18 10:53] rmgit commented on #195
same problem here.
exception with closeOnScroll: false,
fine with closeOnScroll: true,

LateInitializationError: Field '_overallMoveController@809109557' has not been initialized.

When the exception was thrown, this was the stack:
#0      SlidableState._overallMoveController (package:flutter_slidable/src/widgets/slidable.dart)
#1      SlidableState.wantKeepAlive (package:flutter_slidable/src/widg

[2021-04-19 07:06] devwerewolf commented on #189
Bump. Thank you for the quick fix! Knew something wasn't right.

When you implement this workaround, make sure to place a question mark (`?`) to make `_previousType` nullable. Like this:

[code]

My app is saved! 🎉

[2021-04-20 11:19] troncomputers opened #206 "Frame rate drops drastically on Get.toNamed (navigating) from list of elements wraped with Slidable"
Hi!
May someone confirm the issue? I have a list of customers and when I tap on customer's `ListTile` wrapped with `Slidable` the animation is very laggy. It's studering a lot. I've already checked if removing `Slidable` widget from list fix the issue and it does.

[2021-04-21 11:48] ofoudane commented on #51
Is this problem fixed. After some investigations, I found out that the problem is related to using InheritedWidget and changing the widget hierarchy when closing the slider. One potential solution would be to only use Stateful and Stateless widgets, and propagating the data for all Slidablechilds.

[2021-04-23 14:56] onursahindur opened #207 "Slidable.of(context) returns null"
Hello,

I am trying to open programmatically the first Slidable after success load in my application to show the users they may able to delete the item by swiping.

However when I try to call `Slidable.of(context)? ` on my build function it returns **null**.

Take a look at my code, is there a problem with my code?

[code]

[2021-04-26 12:35] rmgit commented on #195
having gone through the sound null safety upgrade + several further package version upgrades this problems seems to be gone  without changes to the code in this part of the app .

[2021-04-27 10:08] Inassdev opened #208 "Show actions vertically"
is there is a way to change Axis of actions button to shown vertically , button under button,
<img width="446" alt="Capture d’écran 2021-04-27 à 10 12 26" src="https://user-images.githubusercontent.com/17359618/116225535-7e620d00-a741-11eb-9aa7-02ed92a98de3.png">

[2021-04-29 20:33] esiqveland commented on #170
I also just need to run a function once the slidable reaches some amount of sliding. Sort of like a Dismissable, just simpler, as nothing needs to be removed.

[2021-05-01 14:43] #201 closed

[2021-05-02 21:14] codespair opened #209 "[Bug] - Unhandled Exception: type 'Future<bool?>' is not a subtype of type 'FutureOr<bool>' in type cast"
I noticed this issue when upgrading an app to use nullable support, flutter_slidable: ^0.6.0.

To reproduce: Run the example of this project, slide to right and click archive on item > 8 which uses a confirmation dialog. The error then happens, full-stack error:

[code]

[2021-05-03 13:53] codespair commented on #209
Hi @letsar - I have sent a M.R with the fix for the bug and the example.

[2021-05-04 11:21] nishit2397 commented on #6
Facing same problem?

[2021-05-10 03:57] wangfeng211 commented on #207
I met  the same question，how did you solve the problem

[2021-05-12 08:37] rachet-khanal commented on #194
This helped me to make similar rounded corners effect: [Issue 173](https://github.com/letsar/flutter_slidable/issues/173#issuecomment-742760829)

[2021-05-12 14:00] brenodt commented on #207
The issue you're having is due you using the same context for creating the slidable and attempting to access it.
When you try to find an inherited widget through the `.of(context)` method, you're effectively going up the app's widget tree to find the first instance of that class.

In your case, you're trying to access the slidable before it being instanced, so the method finds no instances of `Sli

[2021-05-12 14:09] wangfeng211 commented on #207
ok, got it.

[2021-05-13 17:26] onursahindur commented on #207
Me too, got it. Thanks for the explanation.

[2021-05-13 17:26] #207 closed

[2021-05-14 07:03] AnubhavPrasad commented on #185
Yes i really want this feature of disabling swipe in one direction so that it can be implemented easily with tabviews.

[2021-05-24 22:47] marcoberetta96 commented on #185
Any update on this?

[2021-05-26 12:04] ozz-rjq commented on #195
having the same issue

[2021-05-26 12:16] jamesblasco commented on #119
I think this is the behavior he is describing. I am wondering the same. Would it be possible to do something like this?

https://user-images.githubusercontent.com/19904063/119657954-e1bc8900-be2c-11eb-981b-969432944848.MP4

[2021-05-27 07:23] rignaneseleo commented on #195
same here. Any fix or workaround?

[2021-06-06 13:41] kurdybacha commented on #55
Just tested with the latest 1.0.0-dev.2 and issue is still there. Any workaround?

[2021-06-06 15:43] kurdybacha commented on #55
ahh, it looks like it does not work with `ReorderableListView.builder` but with `ReorderableListView( children: [...` everything works as expected.

[2021-06-07 02:36] azeek opened #215 "Is it possible to block the user's gesture and open the Slideable only by programming?"
Is it possible to block the user's gesture?

I want to open Slideable only by programming.

I want to use the gesture to move the tabs on the back end.

[2021-06-07 06:32] #215 closed

[2021-06-07 06:33] azeek commented on #215
https://github.com/letsar/flutter_slidable/pull/141

I hope this will be merged.

[2021-06-08 09:54] imtoori commented on #206
I have a similar issue, not sure if it's related to slidable, but I'm seeing that it's rebuilding on navigation

[2021-06-08 09:58] troncomputers commented on #206
For me it was slidable. When I switch to show modal on `OnPress()` to access more settings, everything is faster and smoother. No lagging.

[2021-06-08 19:42] vahellame opened #216 "Can't dismiss Slidable on endActionPane (flutter_slidable 1.0.0-dev.2)"
Slidable not animate to full width and not dismiss at endActionPane. On startActionPane same code works properly.

[code]

Flutter 2.2.1 • channel stable • https://github.com/flutter/flutter
Framework • revision 02c026b03c (12 days ago) • 2021-05-27 12:24:44 -0700
Engine • revision 0fdb562ac8
Tools • Dart 2.13.1

[2021-06-09 10:45] astheras opened #217 "Slidable.of(context) returns null v0.6.0"
[code]
[code]

[2021-06-18 06:12] CuongNV12 opened #218 "Don't know the index of the item is sliding"
I am having:
[code]
[code]
The isOpen variable provides no specific index, i need specific index of sliding item to perform some action like change the color of current sliding item...

Please help!

[2021-06-18 18:19] pkhivesara opened #219 "SecondaryActionDelegate does not trigger while swiping from right edge of the device"
Using the following sample on iOS 14.5, the ``secondaryActionDelegate`` does not work while trying to swipe in from the right most edge on a physical device. It triggers fine if I try to swipe from right to left a bit away from the right edge.

**NOTE: The sample works fine on Android simulator and device, and iOS simulator. But fails on a physical device.**

[code]

What might be causing this iss

[2021-06-20 01:56] ramonpaolo commented on #55
Thankss bro ❤️

[2021-06-20 02:10] ramonpaolo commented on #55
-- PT-BR
Para quem desejar utilizar ele com um ListView.builder(), é só colocar o ListView.builder() dentro de um Container, passando um parâmetro "UniqueKey()" para "key" do Container() e setando o width e height como quiser.
-- English(Google Translate)
For those who want to use it with a ListView.builder(), just put the ListView.builder() inside a Container, passing a "UniqueKey()" parameter to

[2021-06-24 18:17] Vanessa-Berazategui commented on #218
Hi all, I have the same question, I need to change the size of the item I'm sliding. How can I could get it?

I saw that i could do something like this:

` void _handleSlideIsOpenChanged(bool isOpen) {
    if (isOpen) {
      ValueKey key = slidableController.activeState.widget.key;
      _bloc.setOpenedSlide(isOpen, int.parse(key.value));
    } else {
      _bloc.setOpenedSlide(false, -1);
    }

[2021-06-27 07:40] dm-ra-01 opened #220 "v0.6.0 Flutter integration testing - 6-28 second delay when opening drawer"
I've been troubleshooting this for a few days now without success.
I can open the drawer no problem, however I have to wait 6-7 seconds for the tree/variables to rebuild.

I set a breakpoint in VS Code and could see a circular progress until it reloads the state a long time later.
This is slowing down my integration tests quite significantly so I would appreciate any advice.

Does this drawer open

[2021-06-27 10:55] pmi-ava commented on #216
Experiencing the same issue, the same code works for the "startActionPane", but no way to make it work for "endActionPane".

[2021-06-27 10:59] pmi-ava opened #221 "[Request] make Font-size on SlidableAction's Label settable, and instead of having an icon property, make it a Widget (flutter_slidable 1.0.0-dev.2)"
currently there is no way to set Font-size for SlidableAction's Label, and most of my labels go in Overflow.
It would be good to being able to pass a "Text()" widget here.

Also for SlidableAction's icon property, this should be changed from type "IconData", to at least Icon() or even better, a Widget(), in this way we can pass our custom Icons (like an Icon wrapped by a container for some specifi

[2021-06-29 06:46] #221 closed

[2021-06-29 06:46] pmi-ava commented on #221
EDIT: I see that we can instead of using a SlidableAction's, we could pass our own Flexible widget

[2021-07-01 16:57] lane-faison opened #222 "`close()` not being called when manually swiping actions closed"
**Steps to reproduce**
1. Have a tile that has a tap action for it, such as opening a message.
2. Hold down on the tile and swipe right-to-left to reveal secondary actions.
3. Without removing your finger, swipe left-to-right to hide the secondary actions.
4. Remove your finger and tap on the tile.

**Expected result**
- Tap action on tile is called

**Actual result**
- Tap action on tile is **not

[2021-07-02 17:28] lane-faison commented on #35
@letsar , the `Slidable` widget is still in an active state if you slide it open and then slide it closed without lifting your finger. Can you update the package to call `.close()` when `isOpen` (`handleSlideIsOpenChanged(bool isOpen)...` is changed to `false`?

[2021-07-03 13:59] letsar commented on #35
@lane-faison The package has completely be rewritten, can you test it in the preview version to see if it's still occurs?

[2021-07-03 14:03] letsar commented on #222
@lane-faison what is the version of Slidable you use? Does it still happen in the 1.0 prerelease: https://pub.dev/packages/flutter_slidable/versions/1.0.0-dev.2?

[2021-07-03 14:14] letsar commented on #220
Can you test it with the 1.0 prerelease?

[2021-07-04 05:45] dm-ra-01 commented on #220
Tested with 1.0 pre-release   flutter_slidable: ^1.0.0-dev.2
 I still have the same issue

Also, icons are larger than original, in case you weren't aware. I understand it's a dev build.
<img width="87" alt="Screen Shot 2021-07-04 at 3 44 33 pm" src="https://user-images.githubusercontent.com/58808693/124374472-d63b6800-dcde-11eb-87c5-68db9876caff.png">
<img width="88" alt="Screen Shot 2021-07-04 a

[2021-07-06 03:01] dm-ra-01 commented on #220
I tested the same problem with a different area of my app and found it worked perfectly. I'll investigate the differences between the two ares of the app and I'll let you know what I find.

[2021-07-06 06:44] IanWambai commented on #216
Same issue here:

The method 'openEndActionPane' was called on null.
Receiver: null
Tried calling: openEndActionPane()

[2021-07-06 14:38] lane-faison commented on #222
@letsar Our app is still on Flutter 1.22.6 so we haven't been able to update to 0.6.0 or later. Is this issue resolved on the prerelease?

[2021-07-06 16:05] lane-faison commented on #222
@letsar Can you point me to the commit where this was fixed? We may need to fork this package in order to fix it.

[2021-07-07 08:58] vytautas-pranskunas- opened #223 "Sometime i get null exception"
Hi,

sometimes i see this error in errors log but not sure how to catch it:

[code]

[2021-07-08 01:48] dm-ra-01 commented on #220
Romain I'm going to close this issue until I found something reproducible and valuable to your work. It now works on two of three modules using flutter_slidable.

[2021-07-08 01:48] #220 closed

[2021-07-09 14:56] 726D commented on #195
@ozz-rjq @rignaneseleo did you do the full sound null safety upgrade and does the problem persist?

[2021-07-09 15:23] wujek-srujek commented on #195
The stack trace explicitly states that there is an `LateInitializationError` *in* the lib, I'm not sure whether upgrading to null safety in your app can fix this. Ass a matter of fact, my app, where the issue was originally observed, was fully migrated.

[2021-07-09 17:56] 726D commented on #195
As i think the problem was caused (at least in my case) by the changes in the code base many projects made for sound null safety.
For me the stability/compatibility situaton looks much better now then in April.

i would say that the move to sound null safety in itself will not necessarily solve the problem.
i would say that with the full move to sound null safety you get a lot of updated packages

[2021-07-12 09:29] pavel-birdy commented on #194
I published this package which solved my issue. https://pub.dev/packages/swipeable_tile

[2021-07-12 09:29] #194 closed

[2021-07-14 17:28] DieGlueckswurst opened #224 "Slidable stays open after I remove item from list"
I am using Slidable inside a ListView so I can delete items. The problem is that if I remove an item from the list, the new item has its slidable open. That is obviously not the desired behavior. Here is a [Screenvideo](https://gofile.io/d/q7bZOc) for a better understanding.

My list is an AnimatedList:
[code]

And for here is my Slidable:

[code]

The AnimatedList makes it a bit more tricky so le

[2021-07-14 19:24] letsar commented on #224
Hmm, I think that you'll need to add a key to your slideIt widget, so that Flutter will know that it's not the same instance when you remove an item.
By the way, why do you need a SlideTransition widget above the Slidable?

[2021-07-14 19:27] letsar commented on #223
What version of flutter_slidable do you use? If it's under 1.0, the code has been rewritten and it would be better to use the 1.0 version.

[2021-07-14 19:29] letsar commented on #222
Hi @lane-faison, I completely rewritten the package in the 1.0 version, so if it's resolved in 1.0, you would have to fork the 1.0 version in order to make it compatible with your version of Flutter.

[2021-07-14 19:30] letsar commented on #219
Can you try with the 1.0 version of this package and tell me if it's fixed?

[2021-07-14 19:31] letsar commented on #217
Can you try with the 1.0 version and tells me if it's fixed?

[2021-07-14 20:40] letsar commented on #216
Sorry for the delay I'm very busy. I fixed it and it will be available in the 1.0.0-dev.3 version very soon.

[2021-07-14 20:41] #216 closed

[2021-07-15 10:21] vytautas-pranskunas- commented on #223
Flutter version: 2.2.3
flutter_slidable: ^0.6.0

This error is not common. But happens sometimes sepcially when interaction is not so smooth like starting dragging when another drag is not finished or some other haotic user bahaviour applies.
Also, during this haotic user interaction, sometimes i get another error saying that widget is still part of the widget tree.

[2021-07-15 11:58] #189 closed

[2021-07-15 14:58] bct-fbo commented on #31
@letsar correct that this feature is not yet implanted on the 1.0.0-dev version? Would love to see this function!

[2021-07-15 16:27] letsar commented on #31
@bct-fbo it wasn't available from outside, but I've just made a small improvement to be able to do it.
If you want to be able to dismiss a Slidable by tapping on the action, you'll have to set the action like this:
[code]
Download the 1.0.0-dev.4 version to be able to do it.

[2021-07-16 06:43] IanWambai commented on #216
I'm on `flutter_slidable: ^1.0.0-dev.4`

Calling `Slidable.of(context).openEndActionPane(),`

Gives me:

[code]

[2021-07-16 06:47] bct-fbo commented on #31
Awesome! Thank you very much!

[2021-07-16 09:55] merelj opened #225 "Jerky animation, no way to track swipes (Problems migrating to version 1.0.0 from 0.6.0)"
Hi there, and thanks a lot for such a great library 👍

Found several problems after migration:

- there is a visible jerk in animation when slidable is swiped quickly: animation first stops about at about halfway and then continues only after user removes their finger

- there is no way to track left/right swipe for analytics: onNotification does not provide any info on what kind of swipe it is an

[2021-07-16 10:06] merelj commented on #225
example of the 1st problem:
![Screen Recording 2021-07-16 at 13 00 45](https://user-images.githubusercontent.com/3993495/125931361-ca54eea4-8e3c-4d87-9a52-a44636024d4f.gif)

[2021-07-16 10:12] merelj commented on #225
simplified example:

[code]

[2021-07-16 15:50] #225 closed

[2021-07-16 15:56] letsar commented on #225
Hi @merelj, thanks I've been able to fix it in the 1.0.0-dev.5 version.
Concerning a way to track left/right swipe, you can do it.
If you get the `SlidableController` from a `Slidable's` child, you'll be able to listen to `actionPaneType` which is a `ValueNotifier`. With that in mind, you can then do whatever you want with this value.

[2021-07-16 20:13] letsar commented on #43
This is now possible in 1.0.0. I will close this ticket. If you have any issue, please open a new one.

[2021-07-16 20:13] #43 closed

[2021-07-16 20:15] letsar commented on #53
In 1.0.0, you can now set a different size for each action. I will close this ticket. If you have any issue, please open a new one.

[2021-07-16 20:15] #53 closed

[2021-07-16 20:19] letsar commented on #61
This is now possible in 1.0.0. I will close this ticket. If you have any issue, please open a new one.

[2021-07-16 20:19] #61 closed

[2021-07-16 20:20] letsar commented on #62
This is now possible in 1.0.0. I will close this ticket. If you have any issue, please open a new one.

[2021-07-16 20:20] #62 closed

[2021-07-16 20:24] letsar commented on #64
In a Slidable's child, you can now (in the 1.0 version) listen to the Slidable.of(context).animation, which changes everytime the ratio changes. With that, you can do any custom effect you want.

[2021-07-16 20:24] #64 closed

[2021-07-16 20:26] letsar commented on #67
I think, this is now possible in the 1.0 version. You can get the SlidableController within a Slidable's child and make some actions programmatically.

[2021-07-16 20:26] #67 closed

[2021-07-16 20:27] letsar commented on #68
On 1.0 you can get the SlidableController within any Slidable's child (Slidable.of(context)). With this controller you listen to some notifiers and do what you want.

[2021-07-16 20:27] #68 closed

[2021-07-17 21:43] merelj opened #226 "No notification on closing / repeated closing and opening to the same side"
Hey there again 👋
Thanks a lot for your help with https://github.com/letsar/flutter_slidable/issues/225

I've found another small issue though: when I subscribe to actionPaneType ValueNotifier its value never becomes equal to ActionPaneType.none after closing gesture -- and, therefore, no events are received when I open and close it to the same side multiple times in a row.

It's certainly not a b

[2021-07-18 08:17] letsar commented on #226
Hi @merelj ! Thank you for your feedback, I see where it comes from, I'll fix it.

[2021-07-18 08:19] #226 closed

[2021-07-18 08:21] letsar commented on #226
Fixed in 1.0.0-dev.6

[2021-07-18 08:41] letsar commented on #55
Can someone give me a complete reproductible sample so that I can test it with the new version?

[2021-07-18 08:43] letsar commented on #51
Fixed in 1.0

[2021-07-18 08:43] #51 closed

[2021-07-18 08:45] letsar commented on #83
Can you test this use case in the latest 1.0 dev preview?

[2021-07-18 08:46] letsar commented on #85
Fixed in 1.0

[2021-07-18 08:46] #85 closed

[2021-07-18 08:47] letsar commented on #86
What do you mean by full swiping?

[2021-07-18 08:48] letsar commented on #90
Can you test it with 1.0 version?

[2021-07-18 08:49] letsar commented on #91
Can you test your use case with 1.0 version?

[2021-07-18 08:52] letsar commented on #105
Can you test your use case with 1.0 and playing with openThreshold to see if it can be done automatically or if I need to add this?

[2021-07-18 08:53] letsar commented on #107
No response since more than 8 months, I'm closing this.

[2021-07-18 08:53] #107 closed

[2021-07-18 08:53] letsar commented on #176
No responses since more than 8 months. I'm closing this.

[2021-07-18 08:53] #176 closed

[2021-07-18 08:54] letsar commented on #177
I don't understant what you want, can you explain?

[2021-07-18 08:54] letsar commented on #173
Should be ok with 1.0. Can you test it?

[2021-07-18 08:55] letsar commented on #174
Should be ok with 1.0.

[2021-07-18 08:55] #174 closed

[2021-07-18 08:57] letsar commented on #114
Can you test with the 1.0 version?

[2021-07-18 08:59] letsar commented on #119
The is the default behavior in 1.0. The animation is not the same though, but it can be done.

[2021-07-18 09:01] letsar commented on #123
It can be done in 1.0. You just have to get the SlidableController inside the Slidable's child with Slidable.of(context), and call openStartActionPane or openEndActionPane methods.

[2021-07-18 09:01] #123 closed

[2021-07-18 09:02] letsar commented on #117
I don't really understand what you want. Can you explain it with more details and code?

[2021-07-18 09:04] letsar commented on #163
Can you test it with the 1.0 version?

[2021-07-18 09:05] letsar commented on #164
No responses since more than 8 months. I'm closing this.

[2021-07-18 09:05] #164 closed

[2021-07-18 09:07] letsar commented on #165
Can you test your use case with the 1.0 version?

[2021-07-18 09:08] letsar commented on #178
Now there is one ;)

[2021-07-18 09:08] #178 closed

[2021-07-18 09:08] letsar commented on #179
Can you test it with 1.0 version?

[2021-07-18 09:10] letsar commented on #134
Can you test it with 1.0 version?

[2021-07-18 09:11] letsar commented on #206
Can you provide a code sample that I could use to reproduce the issue? Also, can you test it with 1.0 version?

[2021-07-18 09:14] letsar commented on #203
It's up to the app to support it and not this package.

[2021-07-18 09:14] #203 closed

[2021-07-18 09:16] letsar commented on #188
Can you test it with the 1.0 version? It's fixed now.

[2021-07-18 09:16] #188 closed

[2021-07-18 09:19] letsar commented on #216
Do you call Slidable.of(context) from inside a Slidable's child?

[2021-07-18 09:20] letsar commented on #208
You can use any widget as an action, so you can do it in your app

[2021-07-18 09:20] #208 closed

[2021-07-18 10:21] erperejildo opened #227 "UI error when navigating back"
When the slidable widget is shown and I press back I see the hidden element during the navigation:

[code]

[code]

[2021-07-18 13:45] letsar commented on #227
Can you try with the 1.0 version?

[2021-07-18 19:06] erperejildo commented on #227
Thanks, that worked

[2021-07-18 19:13] erperejildo commented on #227
just a quick thing, how could I have a const background like I had before?
`backgroundColor: Theme.of(context).primaryColor,`

[2021-07-18 19:47] letsar commented on #227
I don't understand the first question, can you provide the code before the 1.0 you used to set the background?

The function now takes a BuildContext parameter, because it can be useful to get the SlidableController here (with Slidable.of(context)). So you just have to add that parameter to your function.

What is the actual behavior if you use a Visibility widget above a SlidableAction? What did

[2021-07-19 06:19] troncomputers commented on #206
I am also using GetX, so maybe that is the issue. The lagging occures when I go back to customers list from `onTap()` (customer edit).
[code]

[2021-07-19 07:01] letsar commented on #206
Can you try without GetX and provide me the code sample if that still the case?

[2021-07-19 07:20] troncomputers commented on #206
Why would I do that without GetX if I want to get this work WITH GetX? I gave up on Slidable and did it in a different way explained above.

[2021-07-19 07:42] letsar commented on #206
To see if the issue is from Slidable or GetX 😉. And since I haven't heard any issue with vanilla Flutter and Slidable with navigation I'm closing this.

[2021-07-19 07:42] #206 closed

[2021-07-19 09:57] erperejildo commented on #227
The code before 1.0 is the one I posted originally:
[code]

Can you share an example of a real `onPressed` function? I tried different things but didn't work.

The error with Visibility is the same thing I got with the color: I cannot use a constant expression:
<img width="463" alt="Screenshot 2021-07-19 at 11 56 07" src="https://user-images.githubusercontent.com/5629919/126142380-c5c77cb0-e493-45

[2021-07-20 07:15] IanWambai commented on #216
@letsar Yes, here's the code, you can let me know if I'm missing anything

[code]

I get:

[code]

[2021-07-20 09:58] letsar commented on #216
Yes the context used in the tap in the one of the build method and thus it doesn't know about the Slidable. You need to put your GestureDetector in a Builder or another widget.

[2021-07-20 19:00] letsar commented on #149
There is now a closeThreshold on actionPane in the 1.0 version to do that I suppose.

[2021-07-20 19:04] letsar commented on #112
@emadd can you add more details on what you want to be able to do?
@avdosev this is a different use case, can you open a new issue to track it?

[2021-07-20 19:05] letsar commented on #103
It's easier to add other motions on the 1.0 version. I will not work on this myself, but PR are open.

[2021-07-20 19:05] #103 closed

[2021-07-20 19:06] letsar commented on #127
It should be possible to do this with the 1.0 version. Can you try it?

[2021-07-20 19:07] letsar commented on #129
It's now possible to set a different threshold for the start and end action panes.

[2021-07-20 19:07] #129 closed

[2021-07-20 19:09] letsar commented on #81
Can you test it with the 1.0 version?

[2021-07-20 19:12] letsar commented on #142
Can you try it with 1.0 version?

[2021-07-20 19:16] letsar commented on #143
You can have a condition to not add it to the list of actions:
[code]

[2021-07-20 19:16] #143 closed

[2021-07-20 19:18] letsar commented on #144
The foreground color can be set, and if not set, it will takes the color which is the most appropriate depending on the the background.

[2021-07-20 19:19] letsar commented on #145
Can you try with 1.0 version and give a code sample to reproduce this issue if it's still here?

[2021-07-20 19:21] letsar commented on #148
Can you verify this use case is still possible in the 1.0 version?

[2021-07-20 19:22] letsar commented on #161
I'm closing this because there are no responses since a while.

[2021-07-20 19:22] #161 closed

[2021-07-20 19:22] letsar commented on #162
I'm closing this because there are no responses since a while.

[2021-07-20 19:22] #162 closed

[2021-07-20 19:23] letsar commented on #167
Can you try if a similar example work with the 1.0 version?

[2021-07-20 19:25] letsar commented on #181
Can you try with the published 1.0 version?

[2021-07-20 19:28] letsar commented on #223
Can you try with the 1.0 version?

[2021-07-20 19:29] letsar commented on #209
Can you verify if the issue is still in the 1.0? I will not update the 0.6.

[2021-07-20 19:30] letsar commented on #199
Can you test with the 1.0 version? It should be fixed.

[2021-07-20 19:32] letsar commented on #197
You can use any widget you want instead of the built in actions. There are only here for convenience, but if they don't fit your needs you can use your own specialized widgets.

[2021-07-20 19:32] #197 closed

[2021-07-20 19:32] letsar commented on #195
Can you try with the 1.0 version?

[2021-07-20 19:34] letsar commented on #193
I don't see why we would do this in this package. You can change the widget to show your actions on big resolutions if you want. This is too specific to be embedded in this package.

[2021-07-20 19:34] #193 closed

[2021-07-20 19:36] letsar commented on #185
I don't think having two widgets that can scroll in the same direction is not a good idea. There have been similar requests in the past, but I won't work on this. PR are welcome though.

[2021-07-20 19:36] #185 closed

[2021-07-20 19:40] letsar commented on #184
You can now do it in the latest 1.0 version (https://github.com/letsar/flutter_slidable/issues/31#issuecomment-880840889)

[2021-07-20 19:40] #184 closed

[2021-07-20 19:44] Herrera93 commented on #199
Yes, its working now

[2021-07-20 19:44] #199 closed

[2021-07-21 06:33] vytautas-pranskunas- commented on #223
I will, have you fixed something?

[2021-07-21 06:46] letsar commented on #223
Yes, it's a complete refactoring with a lot of unit tests, so I hope a lot of issues are now resolved.

[2021-07-21 13:50] gorkovv commented on #167
I can't quite figure out how to upgrade to version 1.0 using the SlidableController() like I have in the example. To have a smooth manifestation when moving. Where can I see an example?

[2021-07-21 15:31] letsar commented on #167
You can find examples here: https://github.com/letsar/flutter_slidable/tree/master/example/lib or here: https://github.com/letsar/flutter_slidable/wiki/Migration-from-version-0.6.0-to-version-1.0.0 for example.

[2021-07-21 17:36] Janneman84 commented on #148
I haven't used Flutter for a while so it's hard for me to give it a quick try. I take it you have tried the list of lists approach yourself?

I'm using a different account these days by the way, this one.

[2021-07-22 05:09] gorkovv commented on #167
There is no clear example. I used to do it this way. How do I do the same in version 1.0?

[code]

I don't understand how to use  SlidableController(), builder: (context, index, animation, renderingMode) .

![Снимок экрана от 2021-07-22 12-06-07](https://user-images.githubusercontent.com/7299332/126592368-96cdd631-b076-45ef-86b6-3b701b4ea6fd.png)

How?

[2021-07-22 05:23] gorkovv opened #228 "How do I wrap a SlidableAction in another container for 1.0 version?"
If I do that, the exception falls out.

[code]

[code]

[2021-07-22 06:44] letsar commented on #228
Please, put the error stack in a code block.

To answer to your question, you can't put a `SlidableAction` as a child of another widget. `SlidableAction` is meant to be a direct child of an action pane. It's the same for `Expanded`. You can't put a `Container` between a `Column` and an `Expanded` widget.
You have two options, either use a `CustomSlidableAction` and put the container as the child.

[2021-07-22 06:48] IanWambai commented on #216
Alright, I've tried to use a context from some different sources, but `Slidable.of(buildContext)` always returns a null. That method above is in a `ListView.builder` in a `SlidableNotificationListener`:

[code]

I've tried the context from the `itemBuilder` and the context from the `Widget build(BuildContext context)` method, and I get the same error. I'm on version `flutter_slidable: ^1.0.0-dev.4

[2021-07-22 07:03] letsar commented on #167
Oh ok, for this use case, the easiest way is to wrap the SlidableAction with ValueListenableBuilder to get the animation you need.
Something like:
[code]

You can then use this widget as a child of an action pane:
[code]

[2021-07-22 08:55] vytautas-pranskunas- commented on #223
OK, I will add it.
Hopefully there were no API changes and it will not start crashing :) I am bit scared of bug refactorings but hopefully they are for good! ;)

[2021-07-22 09:19] letsar commented on #216
If the Slidable is below the ListView that's normal. I don't understand what you want to accomplish.

[2021-07-22 09:52] IanWambai commented on #216
I would like to be able to tap on an item on the list and have it push the Slidable open.

[2021-07-22 11:46] letsar commented on #216
For that you just have to follow my previous comment: https://github.com/letsar/flutter_slidable/issues/216#issuecomment-883263830

Example with `Builder`:
[code]

Example with other widget:
[code]

[2021-07-22 12:53] vytautas-pranskunas- commented on #223
@letsar but 1.0.0 is not yet available. It is in dev phase.

[2021-07-22 12:55] letsar commented on #223
It's available in preview yes, but you can already use it: flutter_slidable: ^1.0.0-dev.6

[2021-07-22 13:05] vytautas-pranskunas- commented on #223
do you think it is stable enough?

[2021-07-22 13:36] letsar commented on #223
Yes, I will soon release it as stable 1.0.0, if there aren't any other issues.

[2021-07-22 13:59] vytautas-pranskunas- commented on #223
fastThreshold - is gone and there is no metnion in migration guide: https://github.com/letsar/flutter_slidable/wiki/Migration-from-version-0.6.0-to-version-1.0.0

[2021-07-22 14:13] vytautas-pranskunas- commented on #223
Also there is not mention about ```controller``` which was in 0.6

[2021-07-22 15:37] vytautas-pranskunas- commented on #223
```fastThreshold``` without it dismiss treshold is not respected.
If I move dismissable widget slowly but less then 0.75 width dismiss treshhold is respected, however if i try to move it realy quick but just 0.2 it is enought for widget to get dismissed

https://user-images.githubusercontent.com/3918999/126667120-a4c2898f-6c59-4a24-b918-ef7ad3ad2614.mov

[2021-07-22 15:41] vytautas-pranskunas- opened #229 "A dismissed Slidable widget is still part of the tree."
I get this error if while widget remove animation is playing (or in other words while removing widget) i quickly click on it.
I think clicking on widget while animation is playing should be disabled.

version: 1.0.0-dev.6

[code]

[2021-07-22 15:43] vytautas-pranskunas- opened #230 "Delete treshold is not respected if move quickly"
Version: 1.0.0-dev.6

https://user-images.githubusercontent.com/3918999/126668043-440b04ca-c423-45c7-b20e-919ed441f674.mov

described here: https://github.com/letsar/flutter_slidable/issues/223

[2021-07-23 07:33] gorkovv commented on #228
Thank you, I got it.
I made that decision for myself:

[code]

[2021-07-23 07:34] #228 closed

[2021-07-23 07:41] gorkovv commented on #167
Thank you, I got it.
Now I can't answer your question

Because I did it differently for version 1.0 😊
I made that decision for myself:

[code]

[2021-07-23 07:41] #167 closed

[2021-07-23 15:30] Slava96 commented on #145
I can't do it now.

[2021-07-23 19:05] letsar commented on #229
Did you removed the `Slidable` from the tree in the `onDismissed`? Can you share a sample code to reproduce it?

[2021-07-23 19:06] letsar commented on #230
I cannot reproduce. Can you share some code?

[2021-07-23 20:05] vytautas-pranskunas- commented on #229
It did not get removed yet because animation is still in progress... whil ein progress try to click on it

[2021-07-23 20:07] vytautas-pranskunas- commented on #230
Sure

[code]

[2021-07-23 20:09] vytautas-pranskunas- commented on #229
sure

[code]

[2021-07-23 21:34] rmarau commented on #78
I no longer see this issue with v0.6.0.
Updating to 1.x will take some care.

[2021-07-23 21:34] #78 closed

[2021-07-24 06:52] IanWambai commented on #216
@letsar Thanks a lot for taking the time to help me out! Also for making the library. It works now with the Builder.

[2021-07-24 14:56] letsar commented on #229
I tested it but I cannot reproduce. Can you send me a complete sample I would just have to run to reproduce the issue?

[2021-07-24 14:57] letsar commented on #230
Can you send me a complete sample I would just have to run to reproduce the issue?

[2021-07-24 15:07] letsar commented on #218
This is not the purpose of this package. You can however pass this information using an InheritedWidget, Provider, Binder, or any other state management solution.
If you can to change the color of the current sliding item you can however get the SlidableController in the Slidable's child and listen to the ratio, or action pane type.
I made a comment for doing something like this: https://github.co

[2021-07-24 15:07] #218 closed

[2021-07-24 15:08] letsar commented on #186
The refactoring is in preview since two months now. You can consider the API stable.

[2021-07-24 15:12] letsar commented on #135
Since the refactoring is done and there is now a published preview, I can close this. It was long, but the refactoring was a necessary "evil". Now you can get the SlidableController from inside a Slidable's child and listen to various event. It's more powerful and flexible. I also added a lot more tests. I hope you'll find the new API way better.

[2021-07-24 15:12] #135 closed

[2021-07-24 17:49] vytautas-pranskunas- commented on #230
I cannot because its big peace :) but you see it in video :(

[2021-07-24 17:53] letsar commented on #230
Can't you make a basic code sample that reproduce the issue? Sorry but without something to reproduce it, I can't fix it.

[2021-07-24 18:19] vytautas-pranskunas- commented on #230
I understand how it works. But to make reproducable example it might take long because not sure what cuases it.
This" https://github.com/letsar/flutter_slidable/issues/229 might be impacted by MobX but empty clicks should not efeect that.
This, what you see in video, it basically empty code as I gave you. There is nothing more.... It is not reproducable every time. Just try to play with it... Move

[2021-07-24 20:19] letsar commented on #230
I've just published a fix for an animation issue. Did it also resolve your issue?

[2021-07-24 20:24] amed901107 opened #231 "Unhandled Exception: 'package:flutter/src/animation/animation_controller.dart': Failed assertion: line 771 pos 7: '_ticker != null': AnimationController.stop() called after AnimationController.dispose()"
it throws this exception the 2nd time I swipe to the left fully and lift a SlidingUpPanel

[2021-07-25 06:18] letsar commented on #231
Can you try with the 1.0.0-dev.8 version?

[2021-07-25 08:15] vytautas-pranskunas- commented on #230
I will check. Have you been able to reproduce it?

[2021-07-25 08:21] letsar commented on #230
No I didn't really reproduced this issue nor the 229, but maybe it resolved what you experienced.

[2021-07-25 10:35] vytautas-pranskunas- commented on #230
Yes it is fixed now.

[2021-07-25 10:35] #230 closed

[2021-07-25 10:43] vytautas-pranskunas- commented on #229
I was able to track down this issue but not sure how to solve it.... DO not want to add custom logic to every slidable. Maybe you have an advice?
Issue is this:
onDismissed I am calling controller which is calling server to complete an action. If action is complete I am removing row from widget tree (from mobx store). This delay causes error.
I was able to reproduce this issue adding delay (in onS

[2021-07-25 12:05] letsar commented on #229
Ok I see now. What I would do would be to apply the principle of optimistic UI:
I would always remove the widget from the tree, and if there is an issue from the server, I would re-add the widget and show a toast to the user indicating them that an error occurred and the item was re-added.

[2021-07-25 12:07] vytautas-pranskunas- commented on #229
Yes i know this technique but if i have 10 lists with removable row implementing such generic mechanics is costly. I wonder - maybe there is some other way to prevent this?

[2021-07-25 12:10] letsar commented on #229
In my opinion, it's not the scope of this library. If you have 10+ lists like that, you could create your own widget with you own abstractions to take into account this principle. You would have the same issue with the built-in `Dismissible` widget.

[2021-07-25 12:15] vytautas-pranskunas- commented on #229
I see. Agree. closing.

[2021-07-25 12:15] #229 closed

[2021-07-26 17:28] FabianVarela commented on #81
Hi, @letsar I check version 1.0.0 and the test to drag has worked, thanks a lot. However, when I test the tap, I think that doesn't work. I set my widget test and the warning when I test the tap

[code]

This is the warning

[code]

Also, set this code to silence the warning, but doesn't work
[code]

I was seeing your test, but I didn't see anything similar. I hope can you help me. Tanks again

[2021-07-28 07:51] DogeeeXD opened #232 "Option to change label textstyle"
Is there an option to change label textstyle?
I'm using flutter_slidable: ^1.0.0-dev.8

[2021-07-28 10:21] DogeeeXD opened #233 "[1.0.0 Feature Request] SlidableController & onSlide in v1.0.0"
I've been using v0.6.0 with the SlidableController to close the slide through other actions.
Is there a controller in v1.0.0? If no is it possible to add it in?

Also, is it possible to make just only one slidable active at once? Like implementing a onSlide function to use.
So I can call something like this in the onSlide function.
[code]
EX: I have 3 Slidable with ListTile as child, when I slide

[2021-07-29 09:15] MobiliteDev opened #234 "Unexpected behavior when deleting Slidable from a list"
I'm currently using flutter_slidable version 1.0.0-dev.8. From your example, I have built a dynamic list of Sidable that can be deleted.
I'm not sure this is the expected behavior or if I need to do some more coding but when I delete one of the Slidable, all the other Slidable **under** it lost their state :

All the Slidable are dragged :
![image](https://user-images.githubusercontent.com/5427550

[2021-07-29 16:13] erperejildo commented on #227
let me know if you need more info @letsar

[2021-07-29 19:11] letsar commented on #227
I'm not sure I understood everything, so let me know if my suppositions are wrong.
So according to your comments you tried to use the `const` keyword in front of an object which cannot be a constant because there are some properties that cannot be evaluated at compile time.
For example you can't use `Theme.of(context).primaryColor` in a const widget because this expression can only be evaluated at

[2021-07-29 19:14] letsar commented on #232
I don't want these widgets to be too complex, that's why I didn't add all the properties to customize them.
But you can set the style by wrapping the action with a `DefaultTextStyle` if you want.

[2021-07-29 19:18] letsar commented on #233
Yes you can do it. It seems this is something I did not document in the readme or the migration guide, sorry for that.
You can look to this example to see how to make it work: https://github.com/letsar/flutter_slidable/blob/master/example/lib/main_demo.dart#L46

Simply wrap your list with `SlidableNotificationListener`, and it should be good. You can also have different groups if you set different

[2021-07-29 19:22] letsar commented on #234
You need to have a different keys for each Slidable otherwise you will have strange results. If your `rang` property is unique, you could use it with a ValueKey for example.

[2021-07-30 02:10] DogeeeXD commented on #232
I tried to wrap one of the SlidableAction this way, but it doesn't work. The text fontSize is not changed.
[code]

[2021-07-30 02:15] DogeeeXD commented on #233
Thank you for the info, it works perfectly!

[2021-07-30 02:15] #233 closed

[2021-07-30 10:44] erperejildo commented on #227
that's correct but I don't have any `const`.

What about the onPressed? I checked your example but it's not complete:
`void doNothing(BuildContext context) {}
`

Cannot we have a simple onPressed like we do for the rest of the widgets? Is this problem related to the previous ones?

[2021-07-30 14:38] MobiliteDev commented on #234
I tried it but it's not working either eventhough `rang` property is unique :
![image](https://user-images.githubusercontent.com/54275508/127668497-289ff795-6332-425d-86b6-17e82a0f8d55.png)

The result is the same as before.

[2021-07-30 20:01] Albertbol commented on #217
Thanks for the great package.
I have the same problem and using version 1.0.0 dev-8 throwing a lot of errors, everything is basically undefined action pane, secondary action, etc.

[2021-07-30 22:08] Albertbol commented on #217
Well worked if the context is passed via Builder:
https://github.com/letsar/flutter_slidable/issues/207#issuecomment-839796362

[2021-07-31 00:52] asakpke opened #236 "Images missing on pub.dev/packages/flutter_slidable"
Hi, please review, images are missing on this URL https://pub.dev/packages/flutter_slidable.

[2021-07-31 16:23] letsar commented on #232
Oh my bad, `SlidableAction` uses an `OutlinedButton`, so either you define your own action (which can be any widget, `SlidableAction` only exists to speed up the common process) so that you can do what you want. Or you instead of wrapping it with `DefaultTextStyle`, you wrap it with `OutlinedButtonTheme`:
[code]

[2021-07-31 16:24] #217 closed

[2021-07-31 16:27] letsar commented on #227
That's strange, can you share the whole code, or a sample one where I can reproduced it?

I added the BuildContext here, so that we can do Slidable.of(context) without having to put the widget under a Builder. There is a common error I wanted users to avoid.

[2021-07-31 16:28] letsar commented on #234
Can you provide a sample code, I could run so that I can see what's going on?

[2021-07-31 16:29] letsar commented on #236
Yes, but only for 0.6. Images for 1.0 are ok. Since 1.0 will soon be published as stable, I will let as is.

[2021-07-31 16:29] #236 closed

[2021-08-01 11:09] erperejildo commented on #227
[code]

Could you please provide a full example of a real onPressed function? The example does nothing

[2021-08-01 17:25] letsar commented on #227
Line 222, your ActionPane is const. Remove it, and it will be alright.

That's depend on what you want to do, if you want to call a method named launchTheRocket, you can do this for example:

[code]

[2021-08-01 17:32] letsar commented on #81
I think that's because the `Slidable` closed itself after the drag (because the touch pointer is released). You should use another method to let the `Slidable` dragged or make sure it will open by dragging it over the `openThreshold`.

In **action_pane_motions_test.dart** I used this extension for this kind of use case:
[code]

[2021-08-02 11:42] erperejildo commented on #227
Omg... I was looking everywhere except this widget.

Yeah, it was the problem above. I wasn't sure why a simple method was throwing that error. I just had to remove that `const`.

Thanks!

[2021-08-02 11:42] #227 closed

[2021-08-02 12:41] #232 closed

[2021-08-04 16:26] Praveen-0603 commented on #195
Still the same issue when closing the tile with .close()

[2021-08-05 15:41] erperejildo opened #237 "Same actions width"
How can I have a specific width for the actions? Right now the spaces is shared by all of them:

<img width="305" alt="Screenshot 2021-08-05 at 17 40 46" src="https://user-images.githubusercontent.com/5629919/128379606-f560e823-e8ae-4e01-99c5-30fa084db1d3.png">

[2021-08-06 09:13] letsar commented on #237
You have to change the extentRatio of the ActionPane according on the number of actions you want to display.

[2021-08-06 18:59] m2faridi opened #238 "RTL not support"
pls fix this bug in version
flutter_slidable: ^1.0.0-dev.9

[2021-08-07 06:53] letsar commented on #238
Can you explain what you want exactly? start/end action panes are defined from ambient TextDirection

[2021-08-08 07:39] Albertbol commented on #170
Hey, thanks for a great package!
Any update on this? Would be cool to have the same functionality as the Dismissable widget in a flutter, struggling to merge them together now, as I just want to implement drag dismiss and close on cancel, without showing delete action.
Seems like closeOnCanceled property is not doing much and onResize is firing only when action has already been completed but not o

[2021-08-08 10:57] m2faridi commented on #238
Items are not displayed
Instead of swiping from left to right, swipe from right to left, and there are no items to display because the items are actually on the left, but the library for fonts is not the opposite.

[2021-08-08 11:02] m2faridi commented on #238
fix bugs
`useTextDirection: false`

[2021-08-08 11:02] #238 closed

[2021-08-09 08:08] MobiliteDev commented on #234
Here is my full code

[code]

[2021-08-09 11:20] jahnli opened #239 "More demos are available"
Provides automatic shutdown, shutdown after operation, etc

[2021-08-09 21:46] erperejildo commented on #237
I tried values from 0 to 1 but didn't see any difference

[2021-08-10 06:42] letsar commented on #237
Mmh did you change the extentRatio for the right one? Can you send the code to reproduce this issue?

[2021-08-10 06:44] letsar commented on #239
Provide more details, elements that would help me to understand what you request, etc.

[2021-08-10 09:30] erperejildo commented on #237
I maybe expressed myself wrong. I see differences but what I mean is that I cannot change the with for each icon to have same with on different `SlidableAction`.

So on the image I shared, the second one is ok, but the first line should be wider since all elements should have same with and we have one more

[2021-08-11 03:56] fregate opened #240 "Child shifted up when sliding"
Hi
If I slide item it's shifting up
![Screenshot from 2021-08-10 20-08-03](https://user-images.githubusercontent.com/4081464/128967129-80b67237-0adc-4fc5-8d28-372aef39a4ea.png)
![Screenshot from 2021-08-10 20-08-20](https://user-images.githubusercontent.com/4081464/128967132-163d4b43-a97a-4f67-8398-31a8d0195b11.png)

If I wrap child content with Center() - everything ok.
Version 0.6.0

[2021-08-12 10:32] Shahmirzali-Huseynov opened #241 "startActionPane"
Please startActionPane and others deprecated, please update examples

[2021-08-13 05:29] saigopin commented on #6
It worked for me <3

[2021-08-19 08:03] jingzhanwu opened #242 "Automatically closes the last open item on the list"
How do you set the opening of a new item in the list to automatically close the previous item

[2021-08-19 13:20] golanir commented on #242
would like to know that too, worked good on 0.6.0 but not working on 1.0.0-dev.9

[2021-08-25 07:12] Hydro8 opened #243 "Swipe to perform one action"
Hi

I want to know if it's possible to perform only one action automatically without having to tap on icon ?

Like dismissible widget but without the remove effect ?

I want to allow user to go to edit page with a swipe to right. The problem with the dismissible widget is the effect that remove the item.

Thanks

[2021-08-29 09:14] bernhardfrenking commented on #173
I tried 1.0-dev.9. to add space and rounded corners to the actions.

First Problem: If the backgroundColor of SlideableAction is used, the whole available space is used and no space or rounded corners are appliable (At least I don't know how). So I tried it with CustomSlidableAction (following code):

[code]

Problem: but I'm not able to expand the Container horizontally - It's tight with the Colu

[2021-08-30 17:20] KalaliEhsan opened #244 "Don't support RTL"
How to implement flutter_slidable directionality by support **RTL**?

[2021-08-30 17:31] watery-desert opened #245 "How to dismiss on tap SlidableAction"
inside the callback I am doing this
[code]
`requestValue` is always null.

When the user will tap on the delete it will dismiss.

<img width="407" alt="Screenshot 2021-08-30 at 23 05 29" src="https://user-images.githubusercontent.com/65174422/131380821-37e7c688-a1a0-4134-ae1c-2a9261b8a1c1.png">

[2021-08-30 17:32] watery-desert commented on #245
inside the callback I am doing this
[code]
`requestValue` is always null.

[2021-08-31 03:50] #245 closed

[2021-09-01 12:05] watery-desert commented on #245
I implemented this and it was pretty straight forward. I am posting the solution if someone needed. When `onTap` is called the tile will shrink and fade.
[code]

[2021-09-10 04:38] duykhanhhs1 commented on #242
the same question

[2021-09-14 06:05] golanir commented on #242
@jingzhanwu found it, wrap your list with SlidableNotificationListener, that will fix the issue

[2021-09-15 06:59] daxosorg commented on #170
i also need this feature, onSlideStart:

[2021-09-17 07:09] LtotheWT opened #246 "Get dismissible direction"
Thanks for the plugin, really helped me a lot.

Im trying to trigger some action base on slidable dismissible direction.

Is there a way to achieve this ?

[2021-09-17 07:12] #246 closed

[2021-09-24 07:12] raphire08 opened #247 "closeOnTap in IconSlideAction is rebuilding the child Widget"
I have a stateful widget in the child of a Slidable Widget. If I set closeOnTap as true on IconSlideWidget set as secondaryAction. On tap of the secondary action I am rebuilding the child widget via ValueListenableBuilder.
The child stateful widget is build twice (even the init method is called twice) on tap of the secondaryAction.

If the close on tap is false, the init method is called only once

[2021-09-28 12:26] desmeit opened #249 "IconSlideAction is not close on Tap"
I try to close an item but it does not work. It just animates the delete button back to its original position. If I drag so far that dismissal is starting then it closes correctly.

[code]

What am I doing wrong?

[2021-09-30 14:53] avatarnguyen commented on #243
You can use **Slidable.builder** to check the animation and trigger an action (f.e when the animation is completed)

`Slidable.builder(
        actionPane: const SlidableStrechActionPane(),
        actionExtentRatio: .6,
        actionDelegate: SlideActionBuilderDelegate(
          builder: (context, index, animation, step) {
            // print('Current Animation: ${animation}');
            if

[2021-09-30 19:40] mrdc opened #250 "Migration from 0.6.0 to 1.0: iconWidget, SlidableController and freezes"
Hello,

Thanks for good widget!

I'm migrating from `0.6.0` to `1.0.0-dev.9` and have noticed some issues:
1. No `iconWidget` in `1.0.0-dev.9`? I'm using it for `popUpMenu`.
2. No `controller: SlidableController`?
3. Narrow `SlidableAction` tile, so label doesn't fit and I see `...` . In 0.6.0 it was OK - will add photos later.
4. Freeze when `Slidable` is closing after the click (happens not for

[2021-10-03 18:15] JostSchenck opened #251 "Checking slide ratio at the end of gesture"
I do not know if what I want to achieve is easily possible with flutter_slidable - I'm currently trying on 1.0.0-dev9. I wrote a ColorChangeMotion that changes the color of the ActionPane from grey, then yellow over orange to red, depending on how far I slide it. Now, what I want is to trigger some action if I end my gesture with the Slidable being in the yellow, orange or red area, depending on w

[2021-10-12 00:55] jordanjanaq commented on #249
https://github.com/letsar/flutter_slidable/issues/207#issuecomment-839796362

Maybe you should put your IconSlideAction inside Builder

[2021-10-12 07:26] bksubhuti opened #252 "open is not working after manually close"
`          slidable.open(actionType: SlideActionType.secondary);

// works the first time, works by tapping outside the listTiles inside the listview
// does not work if you swipe to undo the slide action
`

This code only works the first time or when tapping outside of the listview.
I think the state of "close" is not reset when it is "swiped to close" and therefore does not do anything.

I call

[2021-11-10 09:20] YAPNALT opened #259 "Swipe Indicator"
First of all, thank you for this good package. Now for my idea. Would it be possible to add a swipe indicator so that a user can see that the widget is swipeable. For example a swipe animation or something similar. Currently it's not visible for the user

[2021-11-11 15:07] letsar commented on #259
Thank for the kind words. Yes you can totally do it without my help, you just need to add this indicator on the Slidable's child.

[2021-11-11 15:09] letsar commented on #240
Hi I won't maintain the 0.6 version anymore, does it happen also in the 1.0 ?

[2021-11-11 15:10] letsar commented on #241
Can you rephrase please? I don't understand what you want.

[2021-11-11 15:12] letsar commented on #244
Slidable supports RTL, can you provide more information and an example please?

[2021-11-11 15:14] letsar commented on #242
This documentation is in the [FAQ](https://github.com/letsar/flutter_slidable/wiki/FAQ#how-to-keep-only-one-slidable-open) now.

[2021-11-11 15:14] #242 closed

[2021-11-11 15:15] letsar commented on #247
Do you use the 1.0 version? I think I fixed it recently.

[2021-11-11 15:24] letsar commented on #250
Hello!

Thanks for the kind words.
1. Some widgets have been renamed: look at https://github.com/letsar/flutter_slidable/wiki/Migration-from-version-0.6.0-to-version-1.0.0#actions for the new name.
2. You can get a real controller now from any Slidable's child by calling `Slidable.of(context)`.
3. Can you provide an example and what you expected? The appearance of the SlidableAction changed, but y

[2021-11-11 15:28] letsar commented on #251
Hi, thanks for this issue, it's very interesting! I think it would be possible but I'm not sure I understood all your requirements. Can you provide a video or images showing what you want to achieve? Otherwise I may understand it wrong and provide a wrong solution.

[2021-11-11 15:29] letsar commented on #252
Can you test on the 1.0 version? I won't maintain the 0.6 anymore.

[2021-11-11 17:55] mathschy opened #260 "Migration from 0.6.0 -> 1.0.0, how to share 1 SlidableController between multiple Slidable widgets"
Hello, thank you for this package that is super useful!

I have a question when doing a migration from 0.6.0 to 1.0.0

I have a list of Slidable widgets. Inside each of them, I have a GestureRecognizer so that when the user taps on any of the Slidable in the list, it closes any Slidable (potentially one that is not the one tapped) that was open. In 0.6.0 I achieved this by having all the Slidable